@media all and (max-width: 990px)
{
	.odass-modal 
	{
   	 width: 95%; /* either % (e.g. 60%) or px (400px) */
    }
}


@media all and (max-width : 1200px)
{
  	.modal-footer .glyphicon
	{
		font-size: 18px !important;
	}

	.label .glyphicon
	{
		font-size: 8px !important;
	}
 
	#thesaurus-ecologie-tree a, #thesaurus_metadata p
	{
		font-size: 10px !important;
	}
	
	a, p, span, li, div
	{
		font-size: 11px !important;
	}

	.glyphicon, .modal-footer button .glyphicon, .modal-footer a .glyphicon, #initiatives-area .initiative-title, .panel-title, .score
	{
		font-size: 12px !important;
	}
	
	h3
	{
		font-size: 16px !important;
	}
	
	
}



@media all and (min-width : 1200px)
{
  	.modal-footer .glyphicon
	{
		font-size: 25px !important;
	}

	.label .glyphicon
	{
		font-size: 10px !important;
	}
 
	#thesaurus-ecologie-tree a, #thesaurus_metadata p
	{
		font-size: 12px !important;
	}

	a, p, span, li, div, .glyphicon, .modal-footer button .glyphicon, .modal-footer a .glyphicon, #initiatives-area .initiative-title, .panel-title, .score
	{
		font-size: 14px !important;
	}
	
	h3
	{
		font-size: 20px !important;
	}
}





html 
{
	height: 100%;
}

body
{
	position: relative;
	
	min-height: 100%;
 	margin: 0px;
  	padding: 0px;
  	margin-bottom: 100px;

	background: url("../images/odass-logo-gris-clair.png") !important;
	background-size: cover;
}




* 
{
  	margin: 0;
	font-family: sans-serif, arial;
}

html, body 
{
  	height: 100%;
}
.page-wrap 
{
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -42px; 
}
.page-wrap:after 
{
  content: "";
  display: block;
}
.footer, .page-wrap:after 
{
  height: 42px; 
}
.footer 
{
  	background: orange;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
}

h1, h2, h3, h4
{
	text-transform: uppercase;
}

.media
{
	margin-top: 45px;
}

.module-description-text
{
	padding: 10px;
	background: url("../images/module-dubito-screenshot");
}
.module-description:hover
{
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	background-color: #fefefe;
	
}

li.answer.active 
{
	background-color: #dff0d8 !important;
}

.score
{
	margin-bottom: 20px;
}

.modal-footer
{
	text-align: center;
}

.modal-footer .glyphicon
{
	cursor: pointer;
}

.modal-footer button .glyphicon, .modal-footer a .glyphicon
{
	cursor: pointer;
}

.modal-body
{
	min-height: 275px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.vcenter 
{
    
}
.horizontal-separator
{
	height: 4px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    top: 8px;
    background-color: #000;
}

.navbar-fixed-bottom .horizontal-separator
{
    top: -1px;
}

.horizontal-separator.blue
{
    background-color: #09F;
}

.horizontal-separator.blue + h1, .horizontal-separator.blue + h2, .horizontal-separator.blue + h3, .horizontal-separator.blue + h4
{
    color: #09F;
}

p.green
{
    color: #1D9E24;
}
p.blue
{
    color: #09F;
}
p.red
{
    color: #FB511F;
}

.horizontal-separator.green
{
    background-color: #1D9E24;
}

.horizontal-separator.green + h1, .horizontal-separator.green + h2, .horizontal-separator.green + h3, .horizontal-separator.green + h4
{
    color: #1D9E24;
}

.horizontal-separator.red
{
    background-color: #FB511F;
}

.horizontal-separator.red + h1, .horizontal-separator.red + h2, .horizontal-separator.red + h3, .horizontal-separator.red + h4
{
    color: #FB511F;
}

.ldh-footer
{
	
	padding-top: 20px;

}

.row.quizz-description, .row.card, .row.score
{
	margin-top: 25px;
}

.card-answer
{
	padding-left: 20px;
	margin-top: 15px;
}

.panel-header.panel-success
{
	color: rgb(35, 144, 64);
}

.icon-action
{
	cursor: pointer;
}

/** DUBITO */
.tab-content
{
	padding-top: 20px;
}


/** CAC */

.thesaurus-item .panel-body
{
	height: 350px;
	max-height: 350px;
	overflow: auto;
}

.initiative-item 
{
	margin: 20px 60px !important;	
}

.initiative-item-summary .panel-body
{
	background: rgba(255,255,0,0.1);
}

.initiative-item .panel-body p.ellipsed-text {
  white-space: nowrap;
  width: 100%;                   
  overflow: hidden;              
  text-overflow: ellipsis;
}

 .list-select
 {
 	position: absolute;
 	max-height: 250px;
 	width: 100%;
 	overflow: auto;
 	z-index: 10000;
 }
 
 .filter-match
 {
 	font-weight: bold;
 }
 
 /** MAIN SITE */
 
 #menu-odass>li.active:first-child
 {
 	border-right: 1px #cccccc solid;
 }
 
 .media
 {
	padding:25px; 
	padding-left: 100px;
 }

 .media-left img
 {
 	opacity: 0.5;
 }
 
 /** CAC REPERTOIRE */
 
 #thesaurus-ecologie-tree
 {
 	padding: 5px;
 	margin: 5px;
 }

#thesaurus_metadata p
{
	font-family: times;
}

.initiative-item .panel-heading, .idee-item .panel-heading
{
	
}
.initiative-item .panel-heading h4, .idee-item .panel-heading h4
{

	font-weight: bold;
}

.carousel-inner
{
	min-width: 200px;
}

.carousel-control
{
	color: rgba(0,0,0,0.8);
	background-image: none !important;
	width: 6% !important;
}
.carousel-control:focus
{
	color: rgba(0,0,0,0.6);
}
.carousel-control:hover
{
	color: rgba(0,0,0,0.9);
}