@media all and (max-width: 990px)
{
	.odass-modal 
	{
   	 width: 95%; /* either % (e.g. 60%) or px (400px) */
    }
}



/** SMARTPHONE AND ALL */
@media all and (max-width : 1200px)
{
  	.modal-footer .glyphicon
	{
		font-size: 18px !important;
	}

	.label .glyphicon
	{
		font-size: 8px !important;
	}
 
	#thesaurus-ecologie-tree a, #thesaurus_metadata p
	{
		font-size: 10px !important;
	}
	
	a, p, span, li, div
	{
		font-size: 13px !important;
	}

	.glyphicon, .modal-footer button .glyphicon, .modal-footer a .glyphicon, #initiatives-area .initiative-title, .panel-title, .score
	{
		font-size: 12px !important;
	}
	
	h4
	{
		font-size: 14px !important;
	}
	
	h3, h3>span
	{
		font-size: 16px !important;
	}
	
	
}


/** DESKTOP */
@media all and (min-width : 1200px)
{
  	.modal-footer .glyphicon
	{
		font-size: 25px !important;
	}

	.label .glyphicon
	{
		font-size: 10px !important;
	}
 
	#thesaurus-ecologie-tree a, #thesaurus_metadata p
	{
		font-size: 12px !important;
	}

	a, p, span, li, div, .glyphicon, .modal-footer button .glyphicon, .modal-footer a .glyphicon, #initiatives-area .initiative-title, .panel-title, .score
	{
		font-size: 14px !important;
	}
	
	h4
	{
		font-size: 18px !important;
	}
	
	h3, h3>span
	{
		font-size: 20px !important;
	}
}





html 
{
	height: 100%;
}

body
{
	position: relative;
	
	min-height: 100%;
 	margin: 0px;
  	padding: 0px;
  	margin-bottom: 100px;
	
	background-size: cover;
}

body.loggedin
{
	background: url("../images/background-ricepaper_v3.png") !important;
	background-opacity: 0.8 !important;
}


* 
{
  	margin: 0;
	font-family: sans-serif, arial;
}

html, body 
{
  	height: 100%;
}
.page-wrap 
{
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -42px; 
}
.page-wrap:after 
{
  content: "";
  display: block;
}
.footer, .page-wrap:after 
{
  height: 42px;
  padding-top: 10px;
}
.footer 
{
  	background: orange;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
}

h1, h2, h3, h4
{
	text-transform: uppercase;
	font-family: 'Varela Round', sans-serif;
	
}

.media
{
	margin-top: 45px;
}

.slick-dots
{
    bottom: -5px !important;
}

#page-accueil .slick-prev:before, #page-accueil  .slick-next:before
{
    color: rgba(0,0,0,0.4) !important;
}

.module-description-text
{
	padding: 10px;
	background: url("../images/module-dubito-screenshot");
}

li.answer.active 
{
	background-color: #dff0d8 !important;
}

.score
{
	margin-bottom: 20px;
}

.modal-footer
{
	text-align: center;
}

.modal-footer .glyphicon
{
	cursor: pointer;
}

.modal-footer button .glyphicon, .modal-footer a .glyphicon
{
	cursor: pointer;
}

.modal-body
{
	min-height: 275px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.vcenter 
{
    
}
.horizontal-separator
{
	height: 4px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    top: 8px;
    background-color: #000;
}

.navbar-fixed-bottom .horizontal-separator
{
    top: -1px;
}

.horizontal-separator.blue
{
    background-color: #09F;
}

.horizontal-separator.blue + h1, .horizontal-separator.blue + h2, .horizontal-separator.blue + h3, .horizontal-separator.blue + h4
{
    color: #09F;
}

p.green
{
    color: #1D9E24;
}
p.blue
{
    color: #09F;
}
p.red
{
    color: #FB511F;
}

.horizontal-separator.green
{
    background-color: #1D9E24;
}

.horizontal-separator.green + h1, .horizontal-separator.green + h2, .horizontal-separator.green + h3, .horizontal-separator.green + h4
{
    color: #1D9E24;
}

.horizontal-separator.red
{
    background-color: #FB511F;
}

.horizontal-separator.red + h1, .horizontal-separator.red + h2, .horizontal-separator.red + h3, .horizontal-separator.red + h4
{
    color: #FB511F;
}

.ldh-footer
{
	
	padding-top: 20px;

}

.row.quizz-description, .row.card, .row.score
{
	margin-top: 25px;
}

.card-answer
{
	padding-left: 20px;
	margin-top: 15px;
}

.panel-header.panel-success
{
	color: rgb(35, 144, 64);
}

.icon-action
{
	cursor: pointer;
}

.partenaires.loggedin
{
	background-color: rgba(255,255,255,0.4);
}

/** DUBITO */

.step-ok
{
	 text-transform: lowercase; 
	 font-family: arial; 
	 color: rgba(75,150,75,0.9);
}

.step-pas-ok
{
	 text-transform: lowercase; 
	 font-family: arial; 
	 color: orange;
}

.tab-content
{
	padding-top: 20px;
}


/** CAC */

.infozone.PARTIE_A
{
	background-color: rgba(90,180,243,0.9) !important;
	color: rgba(20,120,183,1) !important;
}
.infozone.PARTIE_B
{
	background-color: #ffe188 !important;
	color: #7e5027 !important;
}
.infozone.PARTIE_C
{
	background-color: rgba(154,202,85,0.9) !important;
	color: rgba(94,142,25,1) !important;
}
.infozone.PARTIE_D
{
	background-color: rgba(244,118,182,0.90) !important;
	color: rgba(184,58,122,1) !important;
}


.PARTIE_A>.panel-heading
{
	background-color: rgba(90,180,243,0.9) !important;
	color: rgba(20,120,183,1) !importPARTIE_16ant;
}

.PARTIE_B>.panel-heading
{
	background-color: #ffe188 !important;
	color: #7e5027 !important;
}

.PARTIE_C>.panel-heading
{
	background-color: rgba(154,202,85,0.9) !important;
	color: rgba(94,142,25,1) !important;
}

.PARTIE_D>.panel-heading
{
	background-color: rgba(244,118,182,0.90) !important;
	color: rgba(184,58,122,1) !important;
}

.PARTIE_A>.panel-body
{
	border-color: rgba(90,180,243,0.9) !important;
}

.PARTIE_B>.panel-body
{
	border-color: #ffe188 !important;
}

.PARTIE_C>.panel-body
{
	border-color: rgba(154,202,85,0.9) !important;
}

.PARTIE_D>.panel-body
{
	border-color: rgba(244,118,182,0.90) !important;
}

/* SLICK ARROWS */

.PARTIE_A .slick-prev:before, .PARTIE_A .slick-next:before
{
    color: rgba(90,180,243,0.9) !important;
}
.PARTIE_B .slick-prev:before, .PARTIE_B .slick-next:before
{
    color: #ffe188 !important;
}
.PARTIE_C .slick-prev:before, .PARTIE_C .slick-next:before
{
    color: rgba(154,202,85,0.9) !important;
}
.PARTIE_D .slick-prev:before, .PARTIE_D .slick-next:before
{
    color: rgba(244,118,182,0.90) !important;
}
.experiences-wrapper
{
	position: absolute !important;
	background-color:#ddeeaa;
	margin: 20px;
	height: 200px;
	bottom: 0px;
	left: 0px;
}

.thesaurus-item .panel-body
{
	height: 350px;
	max-height: 350px;
	overflow: auto;
}

.initiative-item 
{
	margin: 5px 25px !important;	
}

.initiative-item-summary .panel-body
{
	background: rgba(255,255,0,0.1);
}

.initiative-item .panel-body p.ellipsed-text {
  white-space: nowrap;
  width: 100%;                   
  overflow: hidden;              
  text-overflow: ellipsis;
}

 .list-select
 {
 	position: absolute;
 	max-height: 250px;
 	width: 100%;
 	overflow: auto;
 	z-index: 10000;
 }
 
 .filter-match
 {
 	font-weight: normal;
 }
 .filter-match.active
 {
 	font-weight: bold;
 	opacity: 1;
 }
 
 .filter
 {
 	cursor: pointer;
 	opacity: 0.3;
 }
 
 .filter.active
 {
 	cursor: pointer;
 	opacity: 1;
 }
 
 .filter:hover
 {
 	opacity: 0.8;
 }
 
 /** MAIN SITE */
 
 #menu-odass>li.active:first-child
 {
 	border-right: 1px #cccccc solid;
 }
 
 .media
 {
	padding:25px; 
	padding-left: 100px;
 }

 .media-left img
 {
 	opacity: 0.5;
 }
 
 /** CAC REPERTOIRE */
 
 .focus
 {
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 100;
    width: 66vw;
 }
 

.initiative-title
{
    text-align: center;
}
.experience-item
{
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px 5px 0px 0px;
}

.info-block
{
    display: none;
    padding: 7px;
}

.info-block.active
{
    display: block;
}

.footer-tabs a
{
    display: block;
    width: 50px;
    margin: auto;
}

.tag .label
{
    font-size:10px !important;
}

.experience-nav
{
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    position: absolute;
    top: 10%;
}
.experience-nav.left
{
    left: -15px;
}
.experience-nav.right
{
    right: -15px;
}

.experience-nav:hover
{
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.footer-content.row, .footer-tabs.row
{
    margin: 0px -5px -5px -5px !important;
    padding: 0px !important;
    
    
}

.footer-tab
{
    cursor: pointer;
    height: 50px; 
    padding: 7px
}

.contact *
{
    color: rgb(51, 51, 51) !important;
}
.geoloc *
{
    color: rgb(184, 58, 122) !important;
}
.references *
{
    color: rgb(126, 80, 39) !important;
}

.footer-tab.contact
{
    background-color: rgba(90,180,243,0.9);
}
.footer-tab.geoloc
{
    background-color: rgba(244,118,182,0.90);
}

.footer-tab.references
{
    background-color: rgba(255,225,136,0.90);
}

.footer-tab.contact:hover
{
    background-color: rgba(90,180,243,1);
}

.footer-tab.geoloc:hover
{
    background-color: rgba(244,118,182,1); 
}

.footer-tab.references:hover
{
    background-color: rgba(255,225,136,1);
}
 
 
 
 
 .prettyprint .sheet
 {
 	background-color: white;
 	padding: 1cm;
 }
 
 .prettyprint .sheet.A4.portrait
 {
 	width: 21cm;
 	height: 29.7cm;
 	overflow: auto;
 }
 
 .prettyprint .toolbox
 {
 	position: relative;
 	left: 5%;
 	top: -15px;
 }
 
 #thesaurus-ecologie-tree
 {
 	padding: 5px;
 	margin: 5px;
 }

#thesaurus_metadata p
{
	font-family: times;
}

.idee-item>.panel
{
	/*height: 400px !important;
	max-height:  400px !important;*/
}


.idee-item .placeholder
{
	/*height: 150px !important;
	width: 240px !important;
	display: block;
	margin: auto;*/
}

.initiative-item .panel-heading h4, .idee-item .panel-heading h4
{
	font-weight: bold;
}

.carousel-inner
{
	min-width: 200px;
}

.carousel-control
{
	color: rgba(0,0,0,0.8);
	background-image: none !important;
	width: 6% !important;
}
.carousel-control:focus
{
	color: rgba(0,0,0,0.6);
}
.carousel-control:hover
{
	color: rgba(0,0,0,0.9);
}

.experiences-visibles
{
	padding-bottom: 200px !important;
}
.carousel-indicators
{
	bottom: 0px !important;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.2);
}
