<!DOCTYPE html>
<html ng-app="odass">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Varela+Round" rel="stylesheet"> 
		
		<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="libs/fullcalendar/fullcalendar.css"/>
		<link rel="stylesheet" href="libs/themes/default/style.min.css" />
		<link rel="stylesheet" type="text/css" href="css/odass.css"/>
		<link rel="stylesheet" type="text/css" href="css/rzslider.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/angular-ui-tree.css">
		<link rel="stylesheet" type="text/css" href="css/angular-ui-tree-app.css">
		<link rel="stylesheet" type="text/css" href="css/xeditable.css">
		<link rel="stylesheet" type="text/css" href="css/slick.css"/>
		<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
		<style>
			html, body { height: 100%; margin: 0; padding: 0; }
 			#map { height: 100%; }
 			#site-vitrine, body {position:relative;}
		</style>
		<style>
			#logo-odass
			{
				width: 150px;
				height: 150px;
				position: relative;
				left: 50%;
				margin-left: -80px;
				margin-bottom: 5px;
			}
			
			.carousel-content
			{
				height: 200px;
				width: 100%;
				background-image: url('images/odass-logo-gris-clair.png');
				background-position: 50% 10%;
				background-repeat: no-repeat;
				background-size: 150px 150px;
			}
			
			#page-accueil
			{
				background-image: url('images/vitrine-background-4.jpg');
			}
			
			.privacy
			{
				background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Linecons_locked-padlock.svg/1000px-Linecons_locked-padlock.svg.png');
			}
			
			.strength
			{
				background-image: url('https://cdn1.iconfinder.com/data/icons/hands-pt-6/100/017_-_fist-512.png');
			}
			
			.equality
			{
				background-image: url('https://cdn.pixabay.com/photo/2016/04/02/05/28/icon-1302201_960_720.png');
			}
			
			.universality
			{
				background-image: url('http://www.freeiconspng.com/uploads/world-wide-web-icon-png-12.png');
			}
			
			.carousel-legende
			{
				color: white;
				width: 100%;
				height: 42px;
				padding: 15px 2% 2% 15px;
				position: absolute;
				bottom: 10px;
				left: 2px;
				right: 2px;
				font-size: 24px !important;
				text-align: center;
			}
			
			#site-vitrine .row
			{
				padding: 25px;
				color: white;
			}
			
			.text-intro, .text-intro a
			{
				font-family: 'Varela Round', sans-serif;
				font-size: 24px !important;
			}
		</style>
	</head>

	<body ng-controller="OdassController as odass" ng-class="{'loggedin' : odass.user.loggedIn}" data-spy="scroll" data-target="#navbar-odass">
		<navbar-logged-in></navbar-logged-in>
		
		<div class="container-fluid page-wrap">
			<nav id="navbar-odass" class="navbar navbar-default navbar-fixed-top" ng-hide="odass.user.loggedIn">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
							aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://demo.odass.org"></a>
					</div>
			
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
						<!--  MODULES ODASS -->
						<ul id="menu-odass-site" class="nav navbar-nav">
							<li class="active">
								<a id="dashboard-item" href="#page-accueil" style="padding-top: 0px; padding-bottom: 0px;"> 
								<img src="images/odass-logo-sable.png" class="img-responsive"alt="LOGO ODASS" width="50px" height="50px"></img> 
								<span class="sr-only">(current)</span>
								</a>
							</li>
							<li><a id="page-accueil-item" href="#page-accueil">Accueil</a></li>
							<li><a id="page-outils-item" href="#page-outils">Outils</a></li>
							<li><a id="page-services-item" href="#page-services">Services</a></li>
			<!-- 				<li><a id="page-partenaires-item" href="" ng-click="odass.changeModule('page-partenaires')">Partenaires</a></li> -->
						</ul>
						<!--  USER MENU -->
						<ul class="nav navbar-nav navbar-right">
							<li ng-show="odass.debug"><a href="#" data-toggle="modal" data-target="#login-popup"><span class="glyphicon glyphicon-wrench"></span></a></li>
							<li ng-hide="odass.user.loggedIn"><a href="#" data-toggle="modal" data-target="#login-popup"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
						</ul>
					</div>
				</div>
			</nav>
		
			<!--  POPUPS  -->
			<reco-popup></reco-popup>
			<donate-popup></donate-popup>
			<login-popup></login-popup>
			
			<ethique-popup></ethique-popup>
			<cgu-popup></cgu-popup>
			<contact-popup></contact-popup>
			<mentions-legales-popup></mentions-legales-popup>
			
			<!-- SITE VITRINE -->
			<div id="site-vitrine" ng-hide="odass.user.loggedIn">


<div id="page-accueil" class="container-fluid" style="background-color:rgba(0,0,0,0.6);background-size: 100% 100%; background-opacity: 0.6; padding-top:50px;">
	<!-- DEBUG -->
	<section class="row">
		<div class="text-center">
			<img id="logo-odass" src="images/odass-logo-gris-clair.png" alt="logo ODASS" class="img-responsive" ng-click="odass.changeBackground()">
		</div>
	</section>
	

	<section class="row" style="color: rgba(0,0,0,0.6)">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6 text-intro text-center">
				<strong>ODASS, SCOP spécialistes des NTIC, conçoit et développe les outils quotidiens de l'action économique, sociale et solidaire.</strong>
			</div>
			<div class="col-lg-3">
			</div>
	</section>
	<section class="row" style="color: rgba(0,0,0,0.6)" >
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6 text-intro text-center">
				Ces outils s'adressent à tous, particuliers, professionnels, associations et collectifs.
			</div>
			<div class="col-lg-3">
			</div>
	</section>

	<section class="row" style="color: rgba(0,0,0,0.6)" >
			<div class="col-lg-2">
			</div>
			<div class="col-lg-3 text-intro text-center">
				L’expertise et les services ODASS vous permettent de vous concentrer tout simplement sur vos missions.
			</div>
			<div class="col-lg-2">
			</div>
			<div class="col-lg-3 text-intro text-center">
				<a href="#" data-toggle="modal" data-target="#ethique-odass-popup">L’éthique ODASS</a> vous garantit des projets développés dans le respect des valeurs de l’ESS.
			</div>
			<div class="col-lg-2">
			</div>
	</section>

	<section class="row" style="position:relative; background-color: rgba(50,255,127,0.3)" >
		
		<div class="col-lg-12">
		
			  <slick infinite="true" slides-to-show="1" slides-to-scroll="1">
			  
			    <div class="" style="position:relative;">
				  <div class="carousel-content universality"></div>
			      <div class="carousel-legende">
			        Nous croyons dans les valeurs mutualistes : tous nos outils sont développés au bénéfice de tout le monde
			      </div>
			    </div>
			    
			    
			    <div class="" style="position:relative;">
				  <div class="carousel-content privacy"></div>
			      <div class="carousel-legende">
			        Nous respectons la vie privée : nous ne faisons pas de commerce avec vos données
			      </div>
			    </div>
			    
			    
			    <div class="" style="position:relative;">
				  <div class="carousel-content equality"></div>
			      <div class="carousel-legende">
			        Nous voulons que tou.te.s aient accès au meilleur : avec notre modèle à prix libre chacun.e contribue selon ses moyens aux outils communs
			      </div>
			    </div>
			    
			    
			    <div style="position:relative;">
				  <div class="carousel-content strength"></div>
			      <div class="carousel-legende">
			        Nous savons que l’union fait la force : nos outils collaboratifs sont élaborés pour fédérer les citoyen.ne.s
			      </div>
			    </div>
			    
			    
			  </slick>
			  
		</div>
	</section>
</div>
		
		
				
				
				
				
				
<div id="page-outils" class="container-fluid" style="background-color:rgba(0,125,0,0.6);">
	<section class="row" style="background-color:rgba(50,125,50,0.8);">
		<div class="text-center">
			<h4><strong>Nos outils . Nos logiciels </strong></h4>
		</div>
	</section>
	
	
	<!-- DEBUG -->
	<section class="row module-description">
		<div class="col-lg-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
					  	<img src="images/module-petition.png" class="media-object" alt="LOGO ODASS" width="50px" height="50px"></img>
					</a>
				</div>
				<div class="media-body">
				  	<h4 class="media-heading">Petitio</h4>
				  	<p>Créez et mettez en ligne votre pétition.</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-8">
			<div class="module-description-text"> 
				<dl class="dl-horizontal">
					<dt>créer et héberger</dt>
					<dd>vos pétitions</dd>
					
					<dt>permettre <br/>leur signature</dt>
					<dd>selon des paramètres choisis par le soumissionnaire</dd>
					
					<dt>traiter les données</dt>
					<dd>des signataires uniquement par le soumissionnaire, en toute transparence</dd>
				</dl>   
			
				
			</div>
		</div>
	</section>
	<section class="row module-description">
		<div class="col-lg-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
					  	<img src="images/module-repertoire.png" class="media-object" alt="LOGO ODASS" width="50px" height="50px"></img>
					</a>
				</div>
				<div class="media-body">
				  	<h4 class="media-heading">Reperto</h4>
				  	<p>Naviguez dans un répertoire hiérarchique de données.</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-8">
			<div class="module-description-text">
				<dl class="dl-horizontal">
					<dt>créer et héberger</dt>
					<dd>un répertoire de données</dd>
					
					<dt>classer</dt>
					<dd>les données selon des thésaurus choisis et/ou créés par l’utilisateur</dd>
					
					<dt>découvrir et <br/>rechercher</dt>
					<dd>les données grâce à des filtres choisis et/ou créés par l’utilisateur</dd>
					
				</dl>
			</div>
		</div>
	</section>
	
	
	<section class="row module-description">
		<div class="col-lg-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
					  	<img src="images/module-bazdo.png" class="media-object" alt="LOGO ODASS" width="50px" height="50px"></img>
					</a>
				</div>
				<div class="media-body">
				  	<h4 class="media-heading">BAZDO</h4>
				  	<p>Gérez et administrez vos bases de données</p>
				</div>
			</div>
		</div>
		
		<div class="col-lg-8">
			<div class="module-description-text">
				<dl class="dl-horizontal">
					<dt>créez</dt>
					<dd>votre communauté et gérez vos contacts, membres, adhérent.e.s, sociétaires, etc.</dd>
					
					<dt>assurer le suivi<br/> des adhésions</dt>
					<dd>cotisations et dons ; émettre automatiquement les reçus fiscaux de vos donateur.rice.s</dd>
					
					<dt>Envoyer</dt>
					<dd>des mails à tous vos contacts (convocations aux AG, lettres d’informations, événementiel, etc.)</dd>
					
					<dt>Proposer</dt>
					<dd>à vos contacts leur espace personnel sécurisé</dd>
					
					<dt>Doter</dt>
					<dd>vos adhérent.e.s d’outils collaboratifs pour interagir, partager les informations et se mobiliser</dd>
					
				</dl>
			</div>
		</div>
	</section>


	<section class="row module-description">
		<div class="col-lg-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
					  	<img src="images/module-quiz.png" class="media-object" alt="LOGO DUBITO" width="50px" height="50px"></img>
					</a>
				</div>
				<div class="media-body">
				  	<h4 class="media-heading">Dubito</h4>
				  	<p>Le jeu multiformat de déconstruction intellectuelle et de culture générale.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="module-description-text" >
				<style>
					.dl-horizontal dd {margin-bottom: 12px;}
				</style>
				<p>Découvrez nos quiz. Créez vos propres quiz.</p>
				<dl class="dl-horizontal">
					<dt>multiformat</dt>
					<dd>on peut jouer sur un PC, une tablette, un smartphone, avec des cartes… </dd>
					
					<dt>de culture générale</dt>
					<dd>avec des questions à choix multiple sur des sujets de société concrets et des réponses argumentées et documentées</dd>
					
					<dt>de déconstruction <br/>intellectuelle</dt>
					<dd>les questions-réponses contribuent à la déconstruction des idées reçues et rendent plus clair la cohérence du système capitaliste global et ses conséquences</dd>
					
					<dt>coopératif</dt>
					<dd>les joueurs coopèrent avec leurs amis pour gagner mieux</dd>
					
					<dt>contributif</dt>
					<dd>les joueurs proposent des questions pour enrichir la base de donnée ou même créer de nouveaux jeux sur un thème de leur choix</dd>
					
					<dt>et d’utilité sociale</dt>
					<dd>les joueurs améliorent leurs connaissances et leur compréhension des enjeux de société et favorise leur prise de conscience de leur puissance d’agir sur la société</dd>
				</dl>
			</div>
		</div>
	</section>
</div>





	
		<div id="page-services"  class="container-fluid" style="background-color:rgba(125,0,0,0.6);">
		
			<section class="row" style="background-color:rgba(125,50,50,0.8);">
				<div class="text-center">
					<h4><strong>Notre expertise</strong></h4>
				</div>
			</section>
			
			<section class="row">
				<div class="col-lg-3"></div>
				<p class="col-lg-6 text-center">
					ODASS est la SCOP spécialiste de l’Internet et des NTIC. 
					ODASS permet à tous les acteurs de l’économie sociale et solidaire de s’équiper en outils efficaces et performants.
					Selon vos besoins, ODASS gère ou développe pour vous les outils et les interfaces adaptés à vos missions. </br></br>
					N’hésitez pas à <a href="mailto:contact@odass.org?subject=contact">nous contacter</a> pour de plus amples détails.
				</p>
				<div class="col-lg-3"></div>
			</section>
		
			<section class="row">
				<div class="text-center">
					<h4>Notre offre de service</h4>
				</div>
			</section>
			
			<!-- DEBUG -->

			<section class="row">
				
				<div class="col-lg-2"></div>
				
				<div class="col-lg-4">
					<div class="media">
						<div class="media-left">
							<a href="#">
							  	<img src="images/odass-logo-noir.png" class="media-object" alt="LOGO ODASS" width="50px" height="50px"></img>
							</a>
						</div>
						<div class="media-body">
						  	<h4 class="media-heading">Internet</h4>
						  	<p>Conception & développement sur mesure</p>
							<p>Analyse & optimisation des sites Internet</p>
							<p>Amélioration continue par tests A/B</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="media">
						<div class="media-left">
							<a href="#">
							  	<img src="images/site-page-services-techno.png" class="media-object" alt="LOGO ODASS" width="50px" height="50px"></img>
							</a>
						</div>
						<div class="media-body">
						  	<h4 class="media-heading">Techno</h4>
						  	<p>Javascript / Boostrap, AngularJS</p>
							<p>Java / J2EE, Grails</p>
							<p>BDD / mySQL</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-2"></div>
			</section>
		</div>






		<div id="page-partenaires" class="container-fluid" style="background-color:rgba(0,0,125,0.6)">

			<!-- DEBUG -->
			<section class="row"  style="background-color:rgba(50,50,125,0.8)">
				<div class="text-center">
					<h4><strong>Ils nous font confiance</strong></h4>
				</div>
			</section>
		
			<section class="row">
				
				<div class="col-lg-2"></div>
				<div class="col-lg-4">
					<div class="media">
						<div class="media-left">
							<a href="http://www.associations-citoyennes.net/" target="_">
							  	<img src="images/logo-cac-partenaire.png" class="media-object" alt="logo du collectif des associations citoyennes" width="100px" height="100px" style="opacity:1 !important"></img>
							</a>
						</div>
						
						<div class="media-right">
							<p>Le Collectif des associations citoyennes (CAC) est né en 2010 pour :
			
							    <ol>
							    	<li>lutter contre l’instrumentalisation et la réduction des associations à leur seule dimension commerciale</li>
							    	<li>défendre la contribution des associations à l’intérêt général et à la construction d’une société solidaire, durable et participative</li>
							    </ol>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4">	
					<div class="media">
						<div class="media-left" style="opacity:1 !important">
							<a href="http://www.jardinmoderne.org/" target="_">
							  	<img src="images/logo-jardin-moderne.png" class="media-object" alt="logo le jardin moderne" width="150px" height="100px" style="opacity:1 !important"></img>
							</a>
						</div>
						
						<div class="media-right">
							<p> Le Jardin Moderne est un espace d'aide à la création et la diffusion des musiques actuelles à destination des porteurs de projets et des pratiques amateurs.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</section>
			
		</div>

			</div>
			
			<!-- ODASS MODULES -->
			
			<dashboard></dashboard>
			
			<!-- DUBITO -->
			<dubito></dubito>
			
			<reperto></reperto>
<!-- 			<calendo></calendo> -->
<!-- 			<agendo></agendo> -->
			
<!-- 			<projecto></projecto> -->
<!-- 			<ressourczo></ressourczo> -->
<!-- 			<niouzo></niouzo> -->
			
			<!--  TRESO -->
<!-- 			<panamo></panamo> -->
<!-- 			<budgeto></budgeto> -->
<!-- 			<facturo></facturo> -->
			
			<!--  SOCIALO -->
<!-- 			<agoro></agoro> -->
<!-- 			<collabo></collabo> -->
<!-- 			<votatio></votatio> -->
			
			<!-- MAGAZINO -->
<!-- 			<stocko></stocko> -->
<!-- 			<catalogo></catalogo> -->
<!-- 			<boutico></boutico> -->
			
			
		
			<!-- >div class="navbar navbar-fixed-bottom" role="navigation">
				<div class="panel panel-warning col-md-8 col-md-offset-2">
				  <div class="panel-body">
					<p class="text-center">copyright 2016 - ODASS</p>
				  </div>
				</div>
			</div-->
		</div>
		
		<debug></debug>
		
		<footer class="footer">
	      <div class="container">
	        <p class="text-muted text-center">
	        	<a href="#" data-toggle="modal" data-target="#ethique-odass-popup">l’éthique ODASS</a> -
	        	<a href="#" data-toggle="modal" data-target="#cgu-popup">CGU</a> - 
	        	<a href="#" data-toggle="modal" data-target="#mentions-legales-popup">Mentions légales</a> - 
				<a href="#" ng-click="odass.changeModule('page-partenaires')">partenaires</a> - 
				<a href="mailto:contact@odass.org?subject=contact">nous contacter</a>
			</p>
	      </div>
	    </footer>
	    
	    <div class="modal fade" id="patience" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		       	Merci de patienter pendant le chargement des données.
		      </div>
		    </div>
		  </div>
		</div>
		<script type="text/javascript" src="libs/jquery.js"></script>
		<script type="text/javascript" src="libs/moment.js"></script>
		<script type="text/javascript" src="libs/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="libs/angular.js"></script>
		<script type="text/javascript" src="libs/angular-sanitize.js"></script>
		<script type="text/javascript" src="libs/Chart.js"></script>
		<script type="text/javascript" src="libs/jstree.js"></script>
		<script type="text/javascript" src="libs/defiant.min.js"></script>
		<script type="text/javascript" src="libs/html5-sortable.js"></script>
		<script type="text/javascript" src="libs/fullcalendar/fullcalendar.js"></script>
		<script type="text/javascript" src="libs/rzslider.min.js"></script>
		<script type="text/javascript" src="libs/xeditable.js"></script>
		<script type="text/javascript" src="libs/angular-ui-tree.min.js"></script>
		<script type="text/javascript" src="libs/slick.min.js"></script>
		<script type="text/javascript" src="libs/angular-slick.min.js"></script>
		<script type="text/javascript" src="libs/jspdf.min.js"></script>
		<script type="text/javascript" src="libs/pdfmake.min.js"></script>
		<script type="text/javascript" src="libs/html2canvas.js"></script>
		<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
		
		<script type="text/javascript" src="odass.js"></script>
		<script type="text/javascript" src="modules/dubito/dubito.js"></script>
		<script type="text/javascript" src="modules/dubito-wizard/wizard.js"></script>
		<script type="text/javascript" src="modules/reperto/reperto.js"></script>
		<!-- script type="text/javascript" src="backoffice/backoffice.js"></script>
		
		<script type="text/javascript" src="wizard/wizard.js"></script-->
		
		<script type="text/javascript">
			$(function () {
			  $('[data-toggle="popover"]').popover();
			})
			
		</script>
	</body>
	
	<!--  page accueil -->
	<!--  page outils -->
	<!--  page service -->
	<!--  page partenaire -->
</html>
