<!DOCTYPE html>
<html ng-app="odass">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="libs/fullcalendar/fullcalendar.css"/>
		<link rel="stylesheet" href="libs/themes/default/style.min.css" />
		<link rel="stylesheet" type="text/css" href="css/odass.css"/>
		<style></style>

	</head>

	<body ng-controller="OdassController as odass">
	
		<div class="container-fluid">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="http://demo.odass.org"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  
				  <!--  MODULES ODASS -->
				  <ul id="menu-odass" class="nav navbar-nav">
					<li class="active"> 
						<a id="dashboard-item" href="#" ng-click="odass.changeModule('dashboard')" style="padding-top: 7px !important; padding: 5px;">
							<img src="images/odass-logo_gris_clair_e7e7e7.png" class="img-responsive" alt="LOGO ODASS" width="32" height="32"></img>
							<span class="sr-only">(current)</span>
						</a>
					</li>
					
					<!-- TODO module panneau d'affichage -->
					<!--  li><a id="newsletter-item" href="" ng-click="odass.changeModule('newsletter')">INFO</a></li-->
					<!--  li><a id="newsletter-item" href="" ng-click="odass.changeModule('newsletter')">liste des initiatives qu'on équipe</a></li-->
					
					<li><a id="dubito-item" href="" ng-click="odass.changeModule('dubito')">DUBITO</a></li>
					
					<!-- ORGANIZIO -->
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ORGANIZIO <span class="caret"></span></a>
				        <ul class="dropdown-menu">
							<li><a id="annuaire-item" href="" ng-click="odass.changeModule('annuaire')">REPERTO</a></li>
							<li><a id="calendrier-item" href="" ng-click="odass.changeModule('calendrier')">CALENDO</a></li>
							<li><a id="evenementiel-item" href="" ng-click="odass.changeModule('evenementiel')">AGENDO</a></li>
				        </ul>
			        </li>
					
					<!-- CORTEXO -->
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CORTEXO <span class="caret"></span></a>
				        <ul class="dropdown-menu">
							<li><a id="abonnement-item" href="" ng-click="odass.changeModule('projet')">PROJECTO</a></li>
							<li><a id="ressource-item" href="" ng-click="odass.changeModule('ressource')">RESSOURZO</a></li> <!-- gestion salle, matos mis à dispo -->
							<li><a id="newsletter-item" href="" ng-click="odass.changeModule('newsletter')">NIOUZO</a></li>
				        </ul>
			        </li>
					
					<!--  TRESO -->
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TRESO <span class="caret"></span></a>
				        <ul class="dropdown-menu">
							<li><a id="abonnement-item" href="" ng-click="odass.changeModule('abonnement')">PANAMO</a></li>
							<li><a id="budget-item" href="" ng-click="odass.changeModule('budget')">BUDGETO</a></li>
							<li><a id="facturation-item" href="" ng-click="odass.changeModule('facturation')">FACTURO</a></li>
				        </ul>
			        </li>
					
					
					<!--  SOCIALO -->
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SOCIALO <span class="caret"></span></a>
				        <ul class="dropdown-menu">
							<li><a id="forum-item" href="" ng-click="odass.changeModule('forum')">AGORO</a></li>
							<li><a id="collaboratif-item" href="" ng-click="odass.changeModule('collaboratif')">COLLABO</a></li>
							<li><a id="votation-item" href="" ng-click="odass.changeModule('votation')">VOTATIO</a></li>
							<li><a id="texto-item" href="" ng-click="odass.changeModule('texto')">TEXTO</a></li>
							<li><a id="petition-item" href="" ng-click="odass.changeModule('petition')">PETITIO</a></li>
				        </ul>
			        </li>
					
					<!-- MAGAZINO -->
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MAGAZINO <span class="caret"></span></a>
			          	<ul class="dropdown-menu">
							<li><a id="stock-item" href="" ng-click="odass.changeModule('stock')">STOCKO</a></li>
							<li><a id="catalogue-item" href="" ng-click="odass.changeModule('catalogue')">CATALOGO</a></li>
							<li><a id="boutique-item" href="" ng-click="odass.changeModule('boutique')">BOUTICO</a></li>
			          	</ul>
			        </li>
				  </ul>
				  
				  
				  <!--  USER MENU -->
				  <ul class="nav navbar-nav navbar-right">
				  	<li ng-show="odass.debug"><a href="#" data-toggle="modal" data-target="#login-popup" ><span class="glyphicon glyphicon-wrench"></span></a></li>
					<li ng-hide="odass.user.loggedIn">
						<a href="#" data-toggle="modal" data-target="#login-popup" ><span class="glyphicon glyphicon-log-in"></span> Connexion</a>
					</li>
					<li ng-show="odass.user.loggedIn" class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					  	<span class="glyphicon glyphicon-cog"></span> {{odass.user.name}} <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Votre compte</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">1</span></a></li>
						<li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Préférences</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" ng-click="odass.logout()"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
					  </ul>
					</li>
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
			<!-- DEBUG -->

			<section class="row" ng-show="odass.debug">
				<section class="col-md-10 col-md-offset-1">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">DEBUG TOOLS</h3>
						</div>
					  	<div class="panel-body">
					  		<form>
								<div class="form-group">
								    <label for="exampleInputEmail1">URL</label>
								    <input type="url" class="form-control" id="form-action" placeholder="http://server:port/action" value="http://api.odass.org/"></input>
								</div>
								<div class="form-group">
								    <label for="exampleInputPassword1">DATA</label>
								    <textarea class="form-control" id="form-data" placeholder="{}">{}</textarea>
								</div>
								<button type="submit" class="btn btn-default" ng-click="odass.debugAPIcall()">Submit</button>
								<p>
									<h3>Callback data : success</h3>
									<figure class="highlight"><pre><code class="language-html" data-lang="json" id="success-callback">//Success<br/>{{odass.callbackSuccessData}}</code></pre></figure>
								</p>
								<p>
									<h3>Callback data : failure</h3>
									<figure class="highlight"><pre><code class="language-html" data-lang="json" id="fail-callback">//Failure<br/>{{odass.callbackFailureData}}</code></pre></figure>
								</p>
							</form>
					  	</div>
					</div>
				</section>
			</section>

			<section class="row" ng-show="odass.isModule('dashboard')">
				
				<div class="col-md-4">
				
					<section>
						<div class="panel panel-warning">
						  <div class="panel-heading"><h3 class="panel-title">Présentation</h3></div>
						  <div class="panel-body">
								<p>DUBITO est un jeu multiformat de déconstruction intellectuelle et de culture générale développé par l’équipe ODASS. DUBITO contribue à l’Éducation Populaire par le jeu en proposant un ensemble de questions à choix multiple sur des sujets de société regroupées en six catégories : Économie, Droit et Justice, Social, Éducation et Culture, Écologie, Santé.</p>
							</div>
						</div>
					</section>
					
					<div class="clear"></div>
					
					<section ng-show="odass.user.loggedIn" >
						<div class="panel panel-default">
						  <div class="panel-heading">
							<h3 class="panel-title">Votre reseau</h3>
						  </div>
						  <div class="panel-body">
							<p><span class="glyphicon glyphicon-user"></span> <strong>Kim</strong> a joué au quiz <a href="">Etat d'urgence</a> et a fait un score de 5%</p>
							<p><span class="glyphicon glyphicon-comment"></span> <strong>Frédérique</strong> vous a envoyé un message !</p>
							<p><span class="glyphicon glyphicon-fire"></span> <strong>Olivier</strong> vous a battu sur le quiz <a href="">Loi travail</a> !</p>
						  </div>
						</div>
					</section>
				</div>
			
			
				<div class="col-md-4">
					<section ng-show="odass.user.loggedIn">
						<div class="panel panel-warning">
						  <div class="panel-heading"><h3 class="panel-title">Bienvenue <strong>{{odass.user.name}}</strong></h3></div>
						  <div class="panel-body">
							<p><span class="glyphicon glyphicon-log-in"></span> Dernière connexion le 08/04/2016 à 12:12</p> 
							<p><span class="glyphicon glyphicon-education"></span> Vous avez remporté le badge <strong>Night Owl</strong>
							<p><span class="glyphicon glyphicon-star"></span> Vous êtes <strong>42e</strong> au classement général</p>
						  </div>
						</div>
					</section>
					
					<div class="clear"></div>
					
					<section ng-show="odass.user.loggedIn" >
						<div class="panel panel-default">
						  <div class="panel-heading">
							<h3 class="panel-title">Boite à discussion</h3>
						  </div>
						  <div class="panel-body">
							<p>Module transverse permettant de discuter en temps réel</p>
						  </div>
						</div>
					</section>
					
				</div>
				
				
				
				<div class="col-md-3">
					<section ng-show="false">
						<div class="panel panel-success">
						  <div class="panel-heading">
							<h3 class="panel-title"><strong>Nous soutenir</strong></h3>
						  </div>
						  <div class="panel-body">
							<p class="text-center" ><button class="btn btn-success" data-toggle="modal" data-target="#donate-popup"><span class="glyphicon glyphicon-piggy-bank"> </span> FAIRE UN DON</button></p>
						  </div>
						</div>
					</section>
				
					<div class="clear"></div>
					
					<section ng-show="odass.user.loggedIn" >
						<div class="panel panel-warning">
						  <div class="panel-heading">
							<h3 class="panel-title">Actualité</h3>
						  </div>
						  <div class="panel-body">
							<p><strong>CAC : </strong>Publication du répertoire "Ecologie au quotidien"</p>
							<p><strong>ODASS : </strong>Mise en ligne d'un nouvel outil !</p>
						  </div>
						</div>
					</section>
					
					
				</div>
			</section>
			
			<!--  POPUPS  -->
			<reco-popup></reco-popup>
			<donate-popup></donate-popup>
			<login-popup></login-popup>
			
			<!-- ODASS MODULES -->
			
			
			<!-- DUBITO -->
			<dubito></dubito>
			
			<reperto></reperto>
			<calendo></calendo>
			<agendo></agendo>
			
			<projecto></projecto>
			<ressourczo></ressourczo>
			<niouzo></niouzo>
			
			<!--  TRESO -->
			<panamo></panamo>
			<budgeto></budgeto>
			<facturo></facturo>
			
			<!--  SOCIALO -->
			<agoro></agoro>
			<collabo></collabo>
			<votatio></votatio>
			<texto></texto>
			<petitio></petitio>
			
			<!-- MAGAZINO -->
			<stocko></stocko>
			<catalogo></catalogo>
			<boutico></boutico>
			
			
		
			<!-- >div class="navbar navbar-fixed-bottom" role="navigation">
				<div class="panel panel-warning col-md-8 col-md-offset-2">
				  <div class="panel-body">
					<p class="text-center">copyright 2016 - ODASS</p>
				  </div>
				</div>
			</div-->
		</div>
		
		<script type="text/javascript" src="libs/jquery.js"></script>
		<script type="text/javascript" src="libs/moment.js"></script>
		<script type="text/javascript" src="libs/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="libs/angular.js"></script>
		<script type="text/javascript" src="libs/angular-sanitize.js"></script>
		<script type="text/javascript" src="libs/Chart.js"></script>
		<script type="text/javascript" src="libs/jstree.js"></script>
		<script type="text/javascript" src="libs/defiant.min.js"></script>
		<script type="text/javascript" src="libs/html5-sortable.js"></script>
		<script type="text/javascript" src="libs/fullcalendar/fullcalendar.js"></script>
		
		<script type="text/javascript" src="odass.js"></script>
		<script type="text/javascript" src="modules/dubito/dubito.js"></script>
		<script type="text/javascript" src="modules/dubito-wizard/wizard.js"></script>
		<script type="text/javascript" src="modules/reperto/reperto.js"></script>
		<!-- script type="text/javascript" src="backoffice/backoffice.js"></script>
		
		<script type="text/javascript" src="wizard/wizard.js"></script-->
		
		<script type="text/javascript">
			$(function () {
			  $('[data-toggle="popover"]').popover();
			})
		</script>
	</body>
</html>
