
<slick id="carousel-{{idee.id}}" infinite="true" slides-to-show="1" slides-to-scroll="1">

 		<section ng-repeat="experience in idee.experiences track by $index" class="initiative-item item row" id="experience-{{experience.id}}">
		
		<div class="panel panel-default col-lg-12">
			
			<div class="panel-heading">
				<h4 class="panel-title initiative-title">
					<span class="" ng-bind-html="experience.label"></span>
				</h4>
			</div>
			
			<div class="panel-body" style="max-height: 100px; overflow:auto;">
				
				<p style="" ng-hide="experience.displayLong">
					<span ng-bind-html="experience.description"></span>
					<a href="" ng-click="experience.displayLong=true">Voir plus</a>
				</p>
				
				<p style="" ng-show="experience.displayLong">
					<span ng-bind-html="experience.descriptionlongue"></span>
					
					<p ng-show="experience.displayLong && experience.references && experience.references.length > 0">
						<span class="glyphicon glyphicon-globe"></span>&nbsp; 
						<span ng-repeat="lien in experience.references">
							<a target="_" href="{{lien.lien}}">{{lien.nom}}</a><br />
						</span>
					</p>
					
					<p ng-show="experience.displayLong && experience.contacts && experience.contacts.length > 0">
						<span class="glyphicon glyphicon-user"></span>&nbsp; 
						<span ng-repeat="contact in experience.contacts">
							<a href="{{contact.href}}">{{contact}}</a><br />
						</span>
					</p>
					
					<a ng-show="experience.displayLong" href="" ng-click="experience.displayLong=false">Voir moins</a>
				</p>
	
				<p ng-show="experience.keywords.length > 0">
					<span class="glyphicon glyphicon-tag">&nbsp;</span> 
					<span class="tag" ng-repeat="keyword in experience.keywords"> 
						<span class="label label-info">{{keyword}}</span>&nbsp;
					</span>
					<span class="tag"> 
						<span class="label label-default">{{experience.geoloc}}</span>&nbsp;
					</span>
				</p>
			</div>
		</div>
	</section>
</slick>