<section>
	<div class="panel panel-default">
		<div class="panel-body">
		
			<div ng-hide="reperto.showFilters">
				<span class="glyphicon glyphicon-tags"> </span> &nbsp; 
				<span ng-click="reperto.showFilters = true">{{reperto.activeFilters.keywords.length}} filtres actifs </span>
				<a ng-click="reperto.showFilters = true" class="button button-default pull-right"> <span class="glyphicon glyphicon-triangle-bottom"></span></a>
			</div>
		
			<div ng-show="reperto.showFilters">
				<form>
					<div class="form-group" style="position: relative">
						<label for="add-keywords" class="control-label">Filtrer par mot clef</label>
							<a ng-click="reperto.showFilters = false" class="button button-default pull-right"> <span class="glyphicon glyphicon-triangle-top"></span></a>
			
						<div class="input-group">
							<input type="text" class="form-control" id="add-keywords"
								placeholder="ex: bio"
								ng-focus="reperto.matchedFilters['keywords'] = reperto.availableFilters['keywords']"
								ng-model="reperto.filter">
							</input>
							
							<span class="input-group-btn">
								<button class="btn btn-success" type="button" ng-click="reperto.addFilter('keywords')">
									<span class="glyphicon glyphicon-plus"> </span>
								</button>
							</span>
						</div>
						<!-- /input-group -->
						<div ng-show="reperto.matchedFilters['keywords'].length > 0">
							<div class="btn-group-vertical list-select" role="group"
								aria-label="...">
								<button ng-repeat="item in reperto.matchedFilters['keywords'] | filter:reperto.filter"
									type="button" class="btn btn-default"
									ng-click="reperto.addFilter('keywords', item, false)">{{item}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</section>
