<style>
	
    
    .item-selected
    {
    	font-weight: bold;
    }
    
</style>

<section>
	<div class="panel-group" id="thesaurus-tree" role="tablist" aria-multiselectable="true">
	  	<h4 class="label label-default" style="display:block; background-color:rgba(125,125,125,0.6)">
	  		<span class="glyphicon glyphicon-list" style="font-size: 18px !important"> </span> Exploration thématique
	  	</h4>
		
	  	<div ng-repeat="item in reperto.guide.thesaurus.parties" class="panel panel-default {{reperto.cssClasses[item.id]}} {{item.id}}">
			<div class="panel-heading" role="tab" id="headingOne">
		      	
	        	<h4 class="panel-title" href="#{{item.id}}" id="h4-{{item.id}}" ng-class="{'item-selected': (reperto.section && reperto.section.id == item.id)}">
		      		<span style="cursor:pointer" class="glyphicon glyphicon-plus" ng-show="reperto.isExpanded('h4-' + item.id)" ng-click="reperto.toggleExpandedZone('h4-' + item.id)"></span>
		      		<span style="cursor:pointer" class="glyphicon glyphicon-minus" ng-hide="reperto.isExpanded('h4-' + item.id)" ng-click="reperto.toggleExpandedZone('h4-' + item.id)"></span>
		      		<a ng-click="reperto.selectSection(item)" style="cursor:pointer">
		      			{{item.titre}}
		      		</a>
		      	</h4>
		      	
		    </div>
		    
		    <div id="{{item.id}}" class="thesaurus-section panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      	<div class="panel-body">
		        	<ol>
			        	<li ng-repeat="subItem in item.chapitres">
			          		<div>
			            		<a ng-class="{'item-selected': (reperto.chapitre && (reperto.chapitre.id == subItem.id))}" class="tree-chapter-item" id="tree-chapter-item-{{subItem.id}}" href="" ng-click="reperto.selectChapter(item, subItem)">{{subItem.titre}}</a>
			          		</div>
			        	</li>
			      	</ol>
		      	</div>
			</div>
		</div>
	</div>
</section>