<nav class="navbar navbar-default" ng-hide="odass.user.loggedIn">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://demo.odass.org"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">

			<!--  MODULES ODASS -->
			<ul id="menu-odass-site" class="nav navbar-nav">
				<li><a id="dashboard-item"
					href=""
					ng-click="odass.changeModule('page-accueil')"
					style="padding-top: 0px; padding-bottom: 0px;"> <img
						src="images/odass-logo-sable.png" class="img-responsive"
						alt="LOGO ODASS" width="50px" height="50px"></img> <span
						class="sr-only">(current)</span>
				</a></li>
				<li><a id="page-accueil-item" href=""
					ng-click="odass.changeModule('page-accueil')">Accueil</a></li>
				<li><a id="page-outils-item" href=""
					ng-click="odass.changeModule('page-outils')">Outils</a></li>
				<li><a id="page-services-item" href=""
					ng-click="odass.changeModule('page-services')">Services</a></li>
<!-- 				<li><a id="page-partenaires-item" href="" -->
<!-- 					ng-click="odass.changeModule('page-partenaires')">Partenaires</a></li> -->
			</ul>


			<!--  USER MENU -->
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="odass.debug"><a href="#" data-toggle="modal"
					data-target="#login-popup"><span
						class="glyphicon glyphicon-wrench"></span></a></li>
				<li ng-hide="odass.user.loggedIn"><a href="#"
					data-toggle="modal" data-target="#login-popup"><span
						class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
			</ul>
		</div>
	</div>
</nav>