<div class="modal fade" id="quiz-card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content panel-default">
	  <div class="modal-header panel-heading" >
		<h4 class="modal-title" id="exampleModalLabel">{{ dubito.card.intitule }}</h4>
	  </div>
	  <div class="modal-body">
		
		<div class="col-lg-12" style="padding: 10px;">
		
			<ul class="col-lg-6 nav nav-pills nav-stacked" ng-hide="dubito.displayRecommandation">
				<li class="answer" ng-repeat="choice in dubito.card.choix" ng-class="{'active': dubito.isCorrectAnswer(dubito.card, choice.id)}" >
					<a href="#" ng-click="dubito.checkAnswer(dubito.card, choice.id)" ng-bind-html="choice.intitule"></a>
				</li>
			</ul>
			
			
			<div class="col-lg-6" ng-hide="dubito.displayRecommandation">
				<div ng-hide="dubito.hasAnswered">
					<img src="images/attente.gif" class="img-responsive"></img>
				</div>
			
				<div ng-show="dubito.hasAnswered" class="panel" ng-class="{'panel-success':dubito.currentAnswer != 0 , 'panel-danger': dubito.currentAnswer == 0 }">
					
					
					
					<div class="panel-heading">
						<h4 class="modal-title" id="exampleModalLabel">{{dubito.currentAnswer == 0 ? "Dommage !" : "Bravo !!"}}</h4>
				 	</div>
				  	<div class="panel-body" ng-repeat="card in dubito.turns" ng-show="$index == dubito.turn">
						
						<p><strong><span ng-bind-html="dubito.obtainCorrectEnonceFromCard(card)"></span></strong></p>
						
						<p ng-bind-html="card.reponseCourte" ng-show="! dubito.showLongAnswer"></p>
						
						<p ng-bind-html="card.reponseLongue" ng-show="dubito.showLongAnswer" style="overflow:auto; max-height: 170px;"></p>
						
						<a href="#" ng-click="dubito.toggleLongAnswer()">
							<span class="glyphicon glyphicon-menu-right" ng-show="! dubito.showLongAnswer"> </span> <span ng-show="! dubito.showLongAnswer">En savoir plus</span>
							<span class="glyphicon glyphicon-menu-left" ng-show="dubito.showLongAnswer"> </span> <span ng-show="dubito.showLongAnswer">Retour</span>
						</a>
						<p>{{card.reference}}</p>
				  	</div>
				  </div>
			</div>
			
			<div class="col-lg-12" ng-show="dubito.displayRecommandation">
				<form name="contactsForm" novalidate>
					<div class="modal-body">
							<div class="form-group" ng-form="origineForm">
							    <label for="fromInputEmail">From:</label>
							    <input type="email" class="form-control" id="fromInputEmail" placeholder="player@email.org" ng-model="dubito.fromContact" required></input> 
							</div>
							<div class="form-group" ng-form="destinatairesForm">
							    <label>To:</label>
							    <input type="email" class="form-control" placeholder="contact@email.org" ng-model="dubito.toContact" required></input>
							</div>
							
							<div class="form-group text-center">
								<a class="btn btn-primary" href="#" ng-click="dubito.addContactEmail()"><span class="glyphicon glyphicon-plus"></span> 
									Ajouter un destinataire
								</a>
							</div>
							
							<div class="form-group" ng-form="destinatairesForm">
							    <span class="btn btn-default" ng-repeat="contact in dubito.toContacts track by $index" ng-click="dubito.removeContact($index)">{{contact}}<span class="glyphicon glyphicon-minus"></span>
							</div>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="dubito.displayRecommandation = false">
							<span class="glyphicon glyphicon-arrow-left"></span> retour
						</button>
						<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="dubito.sendRecommendation()" ng-disabled="origineForm.$invalid || destinatairesForm.$invalid">
							<span class="glyphicon glyphicon-envelope"></span> Envoyer !
						</button>
					</div>		
				</form>
			</div>
			
			<div class="col-lg-12 text-center">
				<button ng-hide="(dubito.turn == dubito.quiz.questions - 1) || ! dubito.hasAnswered" type="button" class="btn btn-success btn-lg" ng-click="dubito.nextTurn()">
		  			 Question suivante
		  		</button>
		  		<button ng-show="(dubito.turn == dubito.quiz.questions - 1) && dubito.hasAnswered" type="button" class="btn btn-info btn-lg" ng-click="dubito.endQuiz()" data-dismiss="modal" data-backdrop="static" data-keyboard="false">
					<span class="glyphicon glyphicon-stats" ></span> Voir les scores
				</button>
			</div>
		
	  </div>
	  
	  <div class="modal-footer">
	  	<p class="col-xs-4 col-lg-4 text-left vcenter">
	  		<button type="button" class="btn btn-primary" ng-click="dubito.quit()" data-dismiss="modal">
				<span class="glyphicon glyphicon-remove" ></span> Quitter
			</button>
	  	</p>
	  	<p class="col-xs-4 col-lg-4 text-center vcenter"><span class="btn">Tour {{ dubito.turn + 1}} / {{ dubito.quiz.questions}}</span></p>
	  	
	  	<p class="col-xs-4 col-lg-4 text-right vcenter">
		  	<button type="button" class="btn btn-primary"  ng-click="dubito.displayRecommandation = true"> 
  				<span class="glyphicon glyphicon-envelope" ></span><span class="hidden-xs"> Recommander</span>
  			</button>
			<a class="twitter-share-button glyphicon icon-twitter-t" href="https://twitter.com/intent/tweet?text={{dubito.card.intitule}}"></a>
		</p>
	  </div>
	</div>
  </div>
</div>
