<div class="modal fade" id="quiz-choice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content panel-default">
		  	<div class="modal-header panel-heading">
				<h4 class="modal-title" id="exampleModalLabel">Selection d'un quiz</h4>
		 	</div>
		  	<div class="modal-body">
		  		<div class="list-group">
					<button type="button" class="list-group-item" ng-repeat="quiz in dubito.quizzes" ng-click="dubito.selectQuiz(quiz)" ng-dblclick="dubito.loadQuiz(true)">
					  	<span class="glyphicon glyphicon-ok" ng-show="quiz.played && quiz.played == 1"></span>
					  	<span class="glyphicon glyphicon-unchecked" ng-show="! quiz.played"></span>
					  	{{ quiz.intitule }}
					  	<span ng-show="quiz.score" class="glyphicon glyphicon-star-empty pull-right" ng-repeat="n in dubito.getArrayFromNumber(5 - quiz.score) track by $index"></span>
					  	<span ng-show="quiz.score" class="glyphicon glyphicon-star pull-right" ng-repeat="n in dubito.getArrayFromNumber(quiz.score) track by $index"></span>
					  	<span ng-show="! quiz.played || quiz.played == 0" class=" pull-right"><em style="color:rgba(255,255,255,0.3)">nouveau</em></span>
					</button>
				</div>
		  	</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="dubito.quit()" data-dismiss="modal">Quitter</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dubito.loadQuiz()" ng-disabled="dubito.selectedQuiz == null">Jouer</button>
			</div>
		</div>
	</div>
</div>
