<div class="modal fade" id="recap-modal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content panel-default">
			<div class="modal-header panel-heading"><h4>Récapitulatif de la partie</h4></div>
			<div class="modal-body">
			
			
				<section class="score alert alert-info" ng-hide="dubito.showSummary">
					<p>
						<strong ng-show="dubito.quiz.message">{{dubito.quiz.message }}</strong> <br/>
						Vous avez correctement répondu à {{dubito.quiz.score }} sur {{dubito.quiz.questions}}.
					</p>
					<p>Classement: vous êtes en <strong>{{dubito.player.classement.avant}}e</strong> position sur <strong>{{dubito.quiz.players}}</strong> joueurs!</p>
					
				</section>
				
				<p>
					<a href="#" ng-click="dubito.toggleSummary()">
						<span ng-show="! dubito.showSummary"><span class="glyphicon glyphicon-menu-right"></span> Voir les détails de la partie</span>
						<span ng-show="dubito.showSummary"><span class="glyphicon glyphicon-menu-left"></span> Cacher les détails de la partie</span>
					</a>
				</p>
				
				 <section style="min-height: 250px; max-height: 250px;overflow-y: scroll;" ng-show="dubito.showSummary">
					<div ng-repeat="card in dubito.turns" class="card-answer">
						<p>
							<strong>{{card.enonce }}</strong>	
						</p>
						<p>
							<span style="color:#d9534f" ng-show="card.reponseUtilisateur != card.reponse" class="glyphicon glyphicon-remove"> </span> 
							<span style="color:#5cb85c" ng-show="card.reponseUtilisateur == card.reponse" class="glyphicon glyphicon-ok"> </span>
							Vous avez répondu : <span ng-bind-html="dubito.obtainUserAnsweredEnonceFromCard(card)"></span>
							<span ng-show="card.reponseUtilisateur != card.reponse">
								La bonne réponse était :<em ng-bind-html="dubito.obtainCorrectEnonceFromCard(card)"></em>
							</span>
							<a href="#" ng-click="dubito.toggleLongAnswer(card)">
								<span ng-show="! dubito.showLongAnswer || dubito.currentDisplayedCard != card"><span class="glyphicon glyphicon-plus"></span> En savoir plus</span>
								<span ng-show="dubito.showLongAnswer && dubito.currentDisplayedCard == card"><span class="glyphicon glyphicon-minus"></span> Masquer</span>
							</a>
							<span ng-bind-html="card.explicationCourte" ng-show="dubito.showLongAnswer && dubito.currentDisplayedCard == card"></span>
						</p>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<p class="">
	  				<!--a class="glyphicon glyphicon-piggy-bank" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#donate-popup"></a-->
					<button type="button" class="btn btn-primary" ng-click="dubito.quit()" data-dismiss="modal">
						<span class="glyphicon glyphicon-remove" ></span> Quitter
					</button>
		  			<button type="button" class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#send-contact"> 
		  				<span class="glyphicon glyphicon-envelope" ></span> Recommander
		  			</button>
					<!-- a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{dubito.quiz.title}}"></a-->
				
	  				<!-- button type="button" class="btn btn-primary" ng-click="dubito.replay()" data-dismiss="modal">
	  					<span class="glyphicon glyphicon-repeat" ></span> Rejouer
	  				</button-->
					<a href="{{dubito.href}}" class="btn btn-info" title="Redirige vers un site extérieur" data-placement="top" data-toggle="tooltip" ng-show="dubito.href" target="_blank">
						<span class="glyphicon glyphicon-new-window"></span> En savoir plus
					</a>
				</p>	
				
			</div>
		</div>
	</div>
</div>
