<style>
.column {
	float: left;
	margin: 5px 5px 0px 0px;
	text-align: center;
	cursor: move;
}

.carte-add {
	float: left;
	margin: 5px 5px 0px 0px;
	text-align: center;
	background-color: #5cb85c;
	font-size: 10px;
	font-weight: bold;
	color: white;
}
</style>





			<!-- BODY -->
				<div class="row">

					<p ng-hide="wizard.brouillon.quiz.cartes.length == 0"  class="col-lg-12">
						Réorganisez les questions par glisser /
						déposer {{wizard.brouillon.quiz.cartes.length}}
					</p>
						
					<p class="col-lg-12" ng-hide="wizard.brouillon.quiz.cartes.length == 0" >
						<a href="" ng-click="wizard.interactiveMode = 'select'" ng-show="wizard.interactiveMode != 'select'"> Sélectionner des cartes</a>
						&nbsp;
						<a href="" ng-click="wizard.interactiveMode = 'dragdrop'" ng-show="wizard.interactiveMode == 'select'"> 
							<span class="glyphicon glyphicon-random"></span> Réorganiser les cartes
						</a>
						&nbsp;
						<a href="" ng-show="wizard.interactiveMode == 'select'" ng-click="wizard.deleteSelectedCards()"> 
							<span class="glyphicon glyphicon-trash"></span> Supprimer les cartes sélectionnées
						</a>
					</p>

					<div class="col-lg-12">

						<div class="col-lg-8 columns" html-sortable="wizard.sortableOptions"
							ng-model="wizard.brouillon.quiz.cartesOrdonnees">

							<div class="column carte"
								ng-repeat="carte in wizard.brouillon.quiz.cartesOrdonnees"
								title="{{carte.intitule}}" data-toggle="tooltip"
								data-placement="top" title="{{wizard.displayedCard.intitule}}"
								ng-mouseenter="wizard.displayedCard = carte"
								ng-mouseleave="wizard.displayedCard = null">

								<span ng-show="wizard.interactiveMode != 'select'" class="handle" title="carte.intitule"> 
									<img src="images/drag-handle.png"></img>
								</span>
								
								<span ng-show="wizard.interactiveMode == 'select'" class="checkbox" style="display: inline-block" ng-click="carte.selected = !carte.selected">
								    <label>
								      	<input type="checkbox"></input>
								    </label>
								</span>
								
								
								<span class="corps">{{carte.id}}</span>

								<div
									ng-show="wizard.displayedCard && wizard.displayedCard == carte"
									class="tooltip bottom" role="tooltip">
									<div class="tooltip-arrow"></div>
									<div class="tooltip-inner">
										{{wizard.displayedCard.intitule}}</div>
								</div>

								<span style="cursor: pointer"
									ng-click="wizard.editCard({id:carte.id})"> <span
									class="glyphicon glyphicon-pencil"></span>
								</span> <span style="cursor: pointer"
									ng-click="wizard.toggleAnchor(carte)"> <img
									ng-hide="carte.anchored"
									src="images/module-wizard-pin-empty.png" width="10" height="18"></img>
									<img ng-show="carte.anchored"
									src="images/module-wizard-pin-full.png" width="10" height="18"></img>
								</span>

							</div>
							
							<div ng-show="wizard.brouillon.quiz.cartes.length == 0" class="alert alert-info">
								Votre quiz ne contient pas encore de cartes, ajoutez en une en cliquant sur le bouton +
							</div>
							
							<div class="carte-add carte" style="padding: 7px;">
								<div>
									<span ng-click="wizard.addCard()"> 
										<span class="glyphicon glyphicon-plus" style="cursor: pointer;"></span>
									</span>
								</div>

							</div>
						</div>

						<div class="col-lg-4" ng-show="wizard.brouillon.quiz.cartes.length > 0">
							<h4>Récapitulatif</h4>
							<ul class="list-group"
								style="overflow-y: scroll; max-height: 175px;">
								<li class="list-group-item carte_preview"
									ng-repeat="carte in wizard.brouillon.quiz.cartesOrdonnees">
									<span class="badge">#{{carte.id}}</span> <span
									ng-hide="carte.anchored">{{carte.intitule | limitTo:
										35}}</span> <span ng-show="carte.anchored"><strong>{{carte.intitule
											| limitTo: 35}}</strong></span>
								</li>
							</ul>
						</div>

						<div class="col-lg-12">
							<img src="images/module-wizard-pin-full.png" width="9"
								height="14"></img> <strong>Ancrer la carte.</strong> Une carte
							ancrée est un point fixe dans le jeu. Elle assure que toutes les
							questions précédentes auront été posées avant que celle-ci ne
							soit jouée, dans le cas d'un tirage aléatoire.
						</div>


					</div>
				</div>

	<script>
$('#ordering-tabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
	
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</div>
