<div class="modal fade" id="wizard-quiz-card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content panel-default">
	   <!-- HEADER -->
	  
	  <div class="modal-header panel-heading">
		<h4 class="modal-title" id="exampleModalLabel" ng-show="wizard.mode == 'create'">Ajoutez une question au quiz</h4>
		<h4 class="modal-title" id="exampleModalLabel" ng-hide="wizard.mode == 'create'">Editer ou ajouter une question</h4>
	  </div>
	  
	  
	  
	  <!-- BODY -->
	  
	  <div class="modal-body row">
	  
			<div class="col-sm-12">
				<div class="alert alert-info" role="alert">
					<strong>Carte #{{wizard.brouillon.quiz.cardIndex + 1}}.</strong> 
					Vous avez créé <strong>{{wizard.brouillon.quiz.cartes.length}}</strong> cartes sur {{wizard.brouillon.quiz.length}}.
					
				</div>
			</div>
			
	  		<div class="col-sm-6">
				<div class="form-group">
					<label for="intituleQuestion">Intitulé de la question : </label>
					<input id="intituleQuestion" ng-model="wizard.brouillon.carte.intitule" type="text" class="form-control"></input>
				</div>
				<h4>Indiquez les différentes réponses possibles : </h4>
				<p><em>(cochez la réponse correcte)</em></p>
				<div class="form-group" ng-repeat="choix in wizard.brouillon.carte.choix">
					<div class="input-group">
						<span class="input-group-addon">
					        <input type="radio" aria-label="" name="bonneReponse" ng-value="choix.id" ng-model="wizard.brouillon.carte.reponse"></input>
					      </span>
						<input ng-model="choix.intitule" type="text" class="form-control"></input>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
					<label for="reponseCourte">Explication courte (140 caractères) : </label>
					<input id="reponseCourte" ng-model="wizard.brouillon.carte.reponseCourte" type="text" class="form-control"></input>
				</div>
				
				<div class="form-group">
					<label for="reponseLongue">Explication longue (280 caractères) : </label>
					<textarea id="reponseLongue" ng-model="wizard.brouillon.carte.reponseLongue" type="text" class="form-control"></textarea>
				</div>
				
				<div class="form-group">
					<label for="reponseLongue">Ajoutez des références : </label>
					<p>
						<span ng-repeat="reference in wizard.brouillon.carte.references">
							<span class="label label-default">
								<span class="glyphicon glyphicon-link"> </span>  {{reference}}
								<span style="cursor:pointer" class="glyphicon glyphicon-remove" ng-click="wizard.removeReference(reference)"> </span>
							</span>
							&nbsp;
						</span>
					</p>
					
					<div class="input-group">
				      	<input type="text" class="form-control" id="add-reference" placeholder="ex: http://fr.wikipedia.org/..."></input>
			      		<span class="input-group-btn">
				        	<button class="btn btn-success" type="button" ng-click="wizard.addReference()">
				        		<span class="glyphicon glyphicon-plus"> </span>
				        	</button>
				      	</span>
				    </div>
				</div>
			</div>
	  </div>
	 
	  
	  
	  <!-- FOOTER -->
	  
	  <div class="modal-footer">
	  
		<p class="col-xs-4 col-lg-4">
	  		<button type="button" class="btn btn-primary" ng-click="wizard.leave()" data-dismiss="modal">
				<span class="glyphicon glyphicon-remove" ></span> Quitter
			</button>
	  	</p>
	  	
	  	<p class="col-xs-4 col-lg-4">
	  		<button type="button" class="btn btn-info" ng-click="wizard.previousCard()" ng-disabled="wizard.brouillon.quiz.cardIndex == 0">
	  			<span class="glyphicon glyphicon-arrow-left" ></span>
	  		</button>
	  		<button type="button" class="btn btn-warning" ng-click="wizard.deleteCard()">
	  			<span class="glyphicon glyphicon-trash" ></span>
	  		</button>
	  		<button type="button" class="btn btn-success" ng-click="wizard.addCard()" ng-disabled="wizard.brouillon.quiz.cartes.length == wizard.brouillon.quiz.length">
	  			<span class="glyphicon glyphicon-plus" ></span>
	  		</button>
	  		<button type="button" class="btn btn-info" ng-click="wizard.nextCard()" ng-disabled="wizard.brouillon.quiz.cardIndex == wizard.brouillon.quiz.cartes.length - 1">
	  			<span class="glyphicon glyphicon-arrow-right" ></span>
	  		</button>
		</p>
		
	  	<p class="col-xs-4 col-lg-4">
	  	
	  		<button type="button" class="btn btn-success" ng-click="wizard.setupEnding()" data-dismiss="modal">
	  			<span class="glyphicon glyphicon-forward" ></span> Finaliser
	  		</button>
			<button type="button" class="btn btn-danger" ng-click="wizard.saveAndQuit()" data-dismiss="modal">
	  			<span class="glyphicon glyphicon-save" ></span> Terminer
	  		</button>
	  	</p>
	  </div>
	</div>
  </div>
</div>
