<div class="modal fade" id="quiz-setup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content panel-default">
	   <!-- HEADER -->
	  
	  <div class="modal-header panel-heading">
		<h4 class="modal-title" id="exampleModalLabel">Modifier les options du quiz</h4>
	  </div>
	  
	  
	  
	  <!-- BODY -->
	  
	  <div class="modal-body">
			<p>Activer les options de partage</p>
			
	  </div>
	 
	  
	  
	  <!-- FOOTER -->
	  
	  <div class="modal-footer">
	  	<p class="col-xs-6 col-lg-6 text-left">
		  		<button type="button" class="btn btn-primary" ng-click="wizard.leave()" data-dismiss="modal">
				<span class="glyphicon glyphicon-remove" ></span> Quitter
			</button>
		  	</p>
		  	<p class="col-xs-6 col-lg-6 text-right">
		  		<button type="button" class="btn btn-success" ng-click="wizard.setupCategory()" data-dismiss="modal">
		  			<span class="glyphicon glyphicon-arrow-right" ></span> Etape suivante : choisir une catégorie
		  		</button>
			</p>
	  </div>
	</div>
  </div>
</div>
