<section  ng-controller="WizardController as wizard">
	<div class="panel panel-danger">
	  <div class="panel-heading"><h3 class="panel-title">Créer un nouveau quiz</h3></div>
	  <div class="panel-body">
		<p>Vous avez la possibilité de créer votre propre quiz ou votre propre jeu. N'hésitez pas à <a href="#">prendre contact</a> avec l'équipe éditoriale d'ODASS qui vous accompagnera lors du processus de création du quiz.</p> 
		<p class="text-center" ><button class="btn btn-danger" ng-click="wizard.createQuiz()">Commencez la création !</button></p>
	  </div>
	</div>
	
	<div class="panel panel-warning">
	  <div class="panel-heading"><h3 class="panel-title">Modifier un quiz</h3></div>
	  <div class="panel-body">
	  	<p>
	  		Sélectionner le quiz à modifier. Une fois toutes les cartes créées, vous pourrez le publier. Une fois publié, vous ne pourrez plus modifier le quiz !
	  	</p>
	  	<ul class="list-group">
 			<li ng-repeat="quiz in wizard.availableQuiz" class="list-group-item">
 				
 				<button ng-disabled="quiz.cartes.length < quiz.length" type="button" class="btn btn-default btn-xs pull-right" style="font-size: 0.9em;">
 					<span class="glyphicon glyphicon-play" alt="Publier le quiz"></span>
 				</button>
 				
 				<button ng-show="quiz.status != 'published'" type="button" class="btn btn-default btn-xs pull-right" style="font-size: 0.9em;" ng-click="wizard.editQuiz(quiz)">
	 				<span class="glyphicon glyphicon-pencil" alt="Modifier le quiz"></span>
 				</button>
 				
 				
 				<button ng-show="quiz.cartes.length == quiz.length" type="button" class="btn btn-default btn-xs pull-right" style="font-size: 0.9em;">
	 				<span class="glyphicon glyphicon-trash" alt="Supprimer le quiz"></span>
 				</button>
 				
 				<strong>{{quiz.name}}</strong>&nbsp;
 				
 				<span class="glyphicon glyphicon-exclamation-sign text-warning" style="font-size: 0.9em;" ng-show="quiz.cartes.length < quiz.length"></span>
 				<span class="text-warning" ng-show="quiz.cartes.length < quiz.length" style="font-size: 0.9em;">quiz incomplet : {{quiz.cartes.length}} / {{quiz.length}} cartes</span>
 			</li>
 		</ul>
<!-- 		<p class="text-center" > -->
<!-- 			<button class="btn btn-warning" ng-click="wizard.editQuiz()" ng-disabled="wizard.selectedQuiz == undefined">Choisissez le quiz à éditer !</button> -->
<!-- 		</p> -->
	  </div>
	</div>
	
	

	<!-- DUBITO WIZARD POPUPS  -->
	<edit-quiz></edit-quiz>
	<quiz-type></quiz-type>
	<quiz-setup></quiz-setup>
	<quiz-dashboard></quiz-dashboard>
	<quiz-card></quiz-card>
</section>
		

