<section  ng-controller="WizardController as wizard">
	<div class="panel panel-danger">
	  <div class="panel-heading"><h3 class="panel-title">Créer un nouveau quiz</h3></div>
	  <div class="panel-body">
		<p>Vous avez la possibilité de créer votre propre quiz ou votre propre jeu. N'hésitez pas à <a href="#">prendre contact</a> avec l'équipe éditoriale d'ODASS qui vous accompagnera lors du processus de création du quiz.</p> 
		<p class="text-center" ><button class="btn btn-danger" ng-click="wizard.createQuiz()">Commencez la création !</button></p>
	  </div>
	</div>
	
	<div class="panel panel-warning">
	  <div class="panel-heading"><h3 class="panel-title">Modifier un quiz</h3></div>
	  <div class="panel-body">
	  	<div class="list-group">
 			<button ng-repeat="quiz in wizard.availableQuiz" type="button" class="list-group-item" ng-click="wizard.selectedQuiz = quiz">{{quiz.name}}</button>
 		</div>
		<p class="text-center" >
			<button class="btn btn-warning" ng-click="wizard.editQuiz()" ng-disabled="wizard.selectedQuiz == undefined">Choisissez le quiz à éditer !</button>
		</p>
	  </div>
	</div>
	
	

	<!-- DUBITO WIZARD POPUPS  -->
	<edit-quiz></edit-quiz>
	<quiz-type></quiz-type>
	<quiz-setup></quiz-setup>
	<quiz-category></quiz-category>
	<quiz-card></quiz-card>
	<quiz-ending></quiz-ending>
	<quiz-order></quiz-order>
</section>
		

