
<div id="carousel-{{idee.id}}" class="carousel slide" data-ride="carousel" style="background-color: rgba(0,0,0,0.1)">
	 <ol class="carousel-indicators">
	    <li ng-repeat="experience in idee.display.experiences track by $index" data-target="#experience-{{experience.id}}" ng-class="{ 'active': $first }"></li>
	 </ol>
	
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox" style="padding: 5px">
	  		
	  		
	  		<section ng-repeat="experience in idee.display.experiences track by $index" class="initiative-item item" id="experience-{{experience.id}}"  ng-class="{ 'active': $first }">
				<div class="panel panel-default" style="display: inline-block">
					
					<div class="panel-heading">
						<h4 class="panel-title initiative-title">
							<span class="" ng-bind-html="experience.label"></span>
						</h4>
					</div>
					
					<div class="panel-body" style="max-height: 100px; overflow:auto;">
						
						<p style="" ng-hide="experience.displayLong">
							<span ng-bind-html="experience.description"></span>
							<a href="" ng-click="experience.displayLong=true">Voir plus</a>
						</p>
						
						<p style="" ng-show="experience.displayLong">
							<span ng-bind-html="experience.descriptionlongue"></span>
							
							<p ng-show="experience.displayLong && experience.references && experience.references.length > 0">
								<span class="glyphicon glyphicon-globe"></span>&nbsp; 
								<span ng-repeat="lien in experience.references">
									<a target="_" href="{{lien.lien}}">{{lien.nom}}</a><br />
								</span>
							</p>
							
							<p ng-show="experience.displayLong && experience.contacts && experience.contacts.length > 0">
								<span class="glyphicon glyphicon-user"></span>&nbsp; 
								<span ng-repeat="contact in experience.contacts">
									<a href="{{contact.href}}">{{contact}}</a><br />
								</span>
							</p>
							
							<a ng-show="experience.displayLong" href="" ng-click="experience.displayLong=false">Voir moins</a>
						</p>
			
						<p ng-show="experience.keywords.length > 0">
							<span class="glyphicon glyphicon-tag">&nbsp;</span> 
							<span class="tag" ng-repeat="keyword in experience.keywords"> 
								<span class="label label-info">{{keyword}}</span>&nbsp;
							</span>
							<span class="tag"> 
								<span class="label label-default">{{experience.geoloc}}</span>&nbsp;
							</span>
						</p>
					</div>
				</div>
			</section>
			
			
			
	  </div>
	
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-{{idee.id}}" role="button" data-slide="prev" ng-show="idee.display.experiences.length > 1">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-{{idee.id}}" role="button" data-slide="next" ng-show="idee.display.experiences.length > 1">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>