<section>
	<div class="panel panel-default">
		<div class="panel-body">
		
			<div ng-hide="reperto.showFilters">
				<span class="glyphicon glyphicon-tags"> </span> &nbsp; 
				{{reperto.activeFilters.keywords.length}} filtres actifs 
				<a ng-click="reperto.showFilters = true" class="button button-default pull-right"> <span class="glyphicon glyphicon-triangle-bottom"></span></a>
			</div>
		
			<div ng-show="reperto.showFilters">
				<form>
					<div class="form-group" style="position: relative">
						<label for="add-keywords" class="control-label">Filtrer par mot clef</label>
							<a ng-click="reperto.showFilters = false" class="button button-default pull-right"> <span class="glyphicon glyphicon-triangle-top"></span></a>
			
						<div class="input-group">
							<input type="text" class="form-control" id="add-keywords"
								placeholder="ex: bio"
								ng-focus="reperto.matchedFilters['keywords'] = reperto.availableFilters['keywords']"
								ng-keypress="reperto.searchFilter('keywords', 'add-keywords', $event)"></input>
							<span class="input-group-btn">
								<button class="btn btn-success" type="button"
									ng-click="reperto.addFilter('keywords')">
									<span class="glyphicon glyphicon-plus"> </span>
								</button>
							</span>
						</div>
						<!-- /input-group -->
						<div ng-show="reperto.matchedFilters['keywords'].length > 0">
							<div class="btn-group-vertical list-select" role="group"
								aria-label="...">
								<button ng-repeat="item in reperto.matchedFilters['keywords']"
									type="button" class="btn btn-default"
									ng-click="reperto.addFilter('keywords', item, false)">{{item}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</section>



	<!-- 						<p> -->
			<!-- 							<form> -->
			<!-- 							  	<div class="form-group" style="position: relative"> -->
			<!-- 							  		<label for="add-geoloc" class="control-label">Par lieu</label> -->

			<!-- 							  		<div class="input-group"> -->
			<!-- 								      	<input type="text" class="form-control" id="add-geoloc" placeholder="ex: essonne"  -->
			<!-- 								      		ng-focus="reperto.matchedFilters['geoloc'] = reperto.availableFilters['geoloc']" -->
			<!-- 								      		ng-keypress="reperto.searchFilter('geoloc', 'add-geoloc', $event)"> -->
			<!-- 								      	</input> -->
			<!-- 							      		<span class="input-group-btn"> -->
			<!-- 								        	<button class="btn btn-success" type="button" ng-click="reperto.addFilter('geoloc')"><span class="glyphicon glyphicon-plus"> </span></button> -->
			<!-- 								      	</span> -->
			<!-- 								    </div>/input-group -->

			<!-- 							  		<div ng-show="reperto.matchedFilters['geoloc'].length > 0"> -->
			<!-- 							  			<div class="btn-group-vertical list-select" role="group" aria-label="..."> -->
			<!--   											<button ng-repeat="item in reperto.matchedFilters['geoloc']" type="button" class="btn btn-default" ng-click="reperto.addFilter('geoloc', item, true)">{{item}}</button> -->
			<!-- 										</div> -->
			<!-- 							  		</div> -->
			<!-- 							  	</div> -->
			<!-- 							</form> -->
			<!-- 						</p> -->
