<div ng-show="odass.isModule('annuaire')">
	<div ng-controller="RepertoController as reperto">


		<section id="annuaire-header" class="row">
			<div class="col-md-4">
				<a href="http://www.associations-citoyennes.net/"> 
					<img src="images/logo-CAC.jpg" alt="Responsive image" height="75px" width="500px"> </img>
				</a>
			</div>
			
			<div class="col-md-4">
				<p ng-show="reperto.activeFilters.keywords.length > 0">
					Filtres actifs :
					<span ng-show="reperto.activeFilters.keywords.length > 0">
						<span ng-repeat="filter in reperto.activeFilters.keywords"> 
							<span class="label label-info"> {{filter}} 
								<span style="cursor: pointer" class="glyphicon glyphicon-remove" ng-click="reperto.removeFilter('keywords', filter)"> </span>
							</span> &nbsp;
						</span>
					</span>
				</p>
			</div>
			
			<div class="col-md-3">
<!-- 				<filters-box></filters-box> -->
			</div>
			
<!-- 			<div class="col-md-1"> -->
<!-- 				<a class="btn btn-info icon-action" ng-click="reperto.init()"> -->
<!-- 					<span class="glyphicon glyphicon-refresh"></span> -->
<!-- 				</a> -->
<!-- 				<a class="btn btn-info icon-action" ng-click="reperto.displaySavedInitiatives()"> -->
<!-- 					<span class="glyphicon glyphicon-star"></span> -->
<!-- 				</a> -->
<!-- 			</div> -->
			
		</section>
		
		<section>
			<p>
				<ol class="breadcrumb" style="display: inline-block">
				  <li ng-click="reperto.init()">
				  	<a href="#">{{reperto.display.guide.titre}}</a>
				  </li>
				  <li ng-click="reperto.selectSection(reperto.display.section)" ng-show="reperto.display.section">
				  	<a href="#">{{reperto.display.section.titre}}</a>
				  </li>
				  <li ng-click="reperto.selectChapter(reperto.display.section, reperto.display.chapitre)" ng-show="reperto.display.chapitre">
				  	<span>{{reperto.display.chapitre.titre}}</span>
				  </li>
				</ol>
				<!-- a class="btn btn-primary"><span class="glyphicon glyphicon-open"></span> ouvrir un autre repertoire</a-->
			</p>
		</section>
					
		<section id="annuaire-body" class="row">
			<div class="col-md-3">

				<!-- THESAURUS ECOLOGIE  -->
				<section>
				
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  	
					  	<div class="panel panel-default" ng-repeat="item in reperto.thesaurus.nodes">
							<div class="panel-heading" role="tab" id="headingOne">
						      	<h4 class="panel-title" data-toggle="collapse" href="#{{item.id}}">
						      		<a ng-click="reperto.selectSection(item)">{{item.titre}}</a>
<!-- 						        	<a class="glyphicon glyphicon-menu-down" role="button" ng-class="{ 'glyphicon-menu-down': $first}"></a> -->
						      	</h4>
						    </div>
						    
						    <div id="{{item.id}}" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{ 'collapse': ! $first}">
						      	<div class="panel-body">
						        	<ol>
							        	<li ng-repeat="subItem in item.nodes">
							          		<div>
							            		<a href="" ng-click="reperto.selectChapter(item, subItem)">{{subItem.titre}}</a>
							          		</div>
							        	</li>
							      	</ol>
						      	</div>
							</div>
						</div>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>


			<!--  COLONNE PRINCIPALE  -->
			<div class="col-md-5">
				<section id="thesaurus_metadata" class=""></section>
			</div>
			
			<div class="col-md-7" id="initiatives-area">
				<repertoire-idees></repertoire-idees>
			</div>
			
		</section>
		<script>
		</script>
	</div>
	<p></p>
	<p></p>
</div>
