<div ng-show="odass.isModule('annuaire')">
	<div ng-controller="RepertoController as reperto">


		<section id="annuaire-header" class="row">
			<div class="col-md-4">
				<a href="http://www.associations-citoyennes.net/"> 
					<img src="images/logo-CAC.jpg" alt="Responsive image" height="75px" width="500px"> </img>
				</a>
			</div>
			
			<div class="col-md-4">
				<p ng-show="reperto.activeFilters.geoloc.length > 0 || reperto.activeFilters.keywords.length > 0">
					Filtres actifs :
					<span ng-show="reperto.activeFilters.keywords.length > 0">
						<span
							ng-repeat="filter in reperto.activeFilters.keywords"> <span
							class="label label-info"> {{filter}} <span
								style="cursor: pointer" class="glyphicon glyphicon-remove"
								ng-click="reperto.removeFilter('keywords', filter)"> </span>
						</span> &nbsp;
						</span>
					</span>
				</p>
			</div>
			
			<div class="col-md-3">
				<filters-box></filters-box>
			</div>
			
			<div class="col-md-1">
				<a class="btn btn-info icon-action" ng-click="reperto.init()">
					<span class="glyphicon glyphicon-refresh"></span>
				</a>
				<a class="btn btn-info icon-action" ng-click="reperto.displaySavedInitiatives()">
					<span class="glyphicon glyphicon-star"></span>
				</a>
			</div>
			
		</section>

		<section id="annuaire-body" class="row">
			<div class="col-md-5">

				<!-- THESAURUS ECOLOGIE  -->
				<section>
					<div class="panel panel-info thesaurus-item">
					  	<div class="panel-heading">
							<h3 class="panel-title"><span class="glyphicon glyphicon-folder-open"> </span> Répertoire national écologie</h3>
					  	</div>
					  	<div class="panel-body">
							<div ui-tree="">
							  <ol ui-tree-nodes="" ng-model="reperto.ecologie.nodes">
							    <li ng-repeat="item in reperto.ecologie.nodes" ui-tree-node="">
							      <div ui-tree-handle="">
							      	<a class="btn btn-success btn-xs" ng-if="item.nodes &amp;&amp; item.nodes.length > 0" data-nodrag="" ng-click="toggle(this)">
							      	<span class="glyphicon glyphicon-chevron-down" ng-class="{
								          'glyphicon-chevron-right': collapsed,
								          'glyphicon-chevron-down': !collapsed
								        }"></span>
								    </a>
							        {{item.text}}
							      </div>
							      <ol ui-tree-nodes="" ng-model="item.nodes" ng-class="{hidden: collapsed}">
							        <li ng-repeat="subItem in item.nodes" ui-tree-node="">
							          <div ui-tree-handle="">
							            {{subItem.text}}
							          </div>
							        </li>
							      </ol>
							    </li>
							  </ol>
							</div>
						</div>
					</div>
				</section>
				<div class="clearfix"></div>

				<section style="width: 100%; height: 300px;">
					<div id="map"></div>
				</section>
			</div>


			<!--  COLONNE PRINCIPALE  -->
			<div class="col-md-7">
				<section id="thesaurus_metadata" class="">
					<div class="panel-body">
						<div>
							{{ reperto.thesaurus.description}}
						</div>
						<h3 id="titre_partie"></h3>
						<p id="contenu_partie"></p>
						<h4 id="titre_chapitre"></h4>
						<p id="contenu_chapitre"></p>
						<h5 id="titre_idee"></h5>
						<p id="contenu_idee"></p>
					</div>
				</section>
			</div>
			
			<div class="col-md-7" id="initiatives-area">
				<initiatives-box></initiatives-box>
			</div>
			
		</section>
		<script>
		</script>
	</div>
	<p></p>
	<p></p>
</div>
