<div style="position:relative">
<!-- 	<h3 style="color: white">Les idées  -->
<!-- 		<span ng-show="reperto.activeFilters.keywords.length == 0" style="font-weight: bold; color: rgba(255,255,255,0.4); font-size: 0.8em">({{reperto.display.idees.length}})</span> -->
<!-- 		<span ng-show="reperto.activeFilters.keywords.length != 0" style="font-weight: bold; color: rgba(255,255,255,0.4); font-size: 0.8em">({{reperto.ideaDisplayed}})</span> -->
<!-- 	</h3> -->

	<h3 style="color: white; padding-left: 15px; margin-top: 22px;">
		<span ng-show="reperto.activeFilters.keywords.length == 0" style="">{{reperto.display.idees.length}}</span>
		<span ng-show="reperto.activeFilters.keywords.length != 0" style="">{{reperto.ideaDisplayed}}</span>
		actions possibles&nbsp;&nbsp;
	</h3>
	
	<div class="col-lg-7" style="">
		 <idees></idees>
	 </div>
	
	<div class="col-lg-5" style="float: right; background-color: rgba(25,25,50,0.3); border-radius: 5px; padding: 15px; margin-right: -15px; color: white">
		
		<p ng-show="reperto.display.section">
			<h3 ng-show="reperto.display.section" ng-bind-html="reperto.display.section.titre"></h3>
			
			<span ng-hide="reperto.display.section.displaylong" ng-bind-html="reperto.display.section.description"></span>
			<span ng-show="reperto.display.section.displaylong" ng-bind-html="reperto.display.section.descriptionlongue"></span>
			
			
			<a href="" ng-show="reperto.display.section && ! reperto.display.section.displaylong" ng-click="reperto.display.section.displaylong = true">voir plus</a>
			<a href="" ng-show="reperto.display.section && reperto.display.section.displaylong" ng-click="reperto.display.section.displaylong = false">voir moins</a>
		</p>
		
		<p ng-show="reperto.display.chapitre">
			<h3 ng-show="reperto.display.chapitre" ng-bind-html="reperto.display.chapitre.titre"></h3>
			
			<span ng-hide="reperto.display.chapitre.displaylong" ng-bind-html="reperto.display.chapitre.description"></span>
			<span ng-show="reperto.display.chapitre.displaylong" ng-bind-html="reperto.display.chapitre.descriptionlongue"></span>
			
			<a href="" ng-show="reperto.display.chapitre && ! reperto.display.chapitre.displaylong" ng-click="reperto.display.chapitre.displaylong = true">voir plus</a>
			<a href="" ng-show="reperto.display.chapitre && reperto.display.chapitre.displaylong" ng-click="reperto.display.chapitre.displaylong = false">voir moins</a>
		</p>
		
		<p ng-show="reperto.display.idee" ng-bind-html="reperto.display.idee.description"></p>
		<p ng-show="reperto.display.intro" ng-bind-html="reperto.thesaurus.description"></p>
	</div>
	
	<div class="col-lg-12">
		<nav aria-label="Page navigation">
		  <ul class="pagination pagination-sm">
		    <li><a href="#" ng-repeat="idee in reperto.display.pager.pagerItems track by $index" ng-click="reperto.setPagerIndex($index)">{{$index + 1}}</a></li>
		  </ul>
		</nav>
	</div>