
<style>
	.send-mail
	{
		font-size: 20px !important;
		margin-top: -34px;
		margin-left: -5px;
		margin-right: 7px;
		color: rgba(0,0,0,0.6);
	}
	
	.send-mail:hover
	{
		color: rgba(0,0,0,0.8);
	}

</style>

<div ng-show="odass.isModule('annuaire')">

	<div ng-controller="RepertoController as reperto" id="repertoControllerWrapper">


		<section id="annuaire-header" class="row">
			<div class="col-md-4">
				<p ng-show="reperto.activeFilters.keywords.length > 0">
					Filtres actifs :
					<span ng-show="reperto.activeFilters.keywords.length > 0">
						<span ng-repeat="filter in reperto.activeFilters.keywords"> 
							<span class="label label-info"> {{filter}} 
								<span style="cursor: pointer" class="glyphicon glyphicon-remove" ng-click="reperto.removeFilter('keywords', filter)"> </span>
							</span> &nbsp;
						</span>
					</span>
				</p>
			</div>
			
			<div class="col-md-3">
				
<!-- 				<filters-box></filters-box> -->
			</div>
			
<!-- 			<div class="col-md-1"> -->
<!-- 				<a class="btn btn-info icon-action" ng-click="reperto.init()"> -->
<!-- 					<span class="glyphicon glyphicon-refresh"></span> -->
<!-- 				</a> -->
<!-- 				<a class="btn btn-info icon-action" ng-click="reperto.displaySavedInitiatives()"> -->
<!-- 					<span class="glyphicon glyphicon-star"></span> -->
<!-- 				</a> -->
<!-- 			</div> -->
			
		</section>
		
		<section></section>
					
		<section id="annuaire-body" class="row">
			<div class="col-md-3">
				<a href="http://www.associations-citoyennes.net/"> 
					<img src="images/logo-CAC.jpg" alt="logo association citoyennes - http://www.associations-citoyennes.net/" class="img-responsive"> </img>
				</a>
				
				<a title="Envoyez vos commentaires sur le guide" href="mailto:cac_repertoire@odass.org?subject=Guide%20National%20Ecologie" class="glyphicon glyphicon-envelope pull-right send-mail"></a>
				
				<!-- THESAURUS ECOLOGIE  -->
				<section>
				
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  	
					  	<div class="panel panel-default" ng-repeat="item in reperto.thesaurus.nodes">
							<div class="panel-heading" role="tab" id="headingOne">
						      	
					        	<a class="pull-right" role="button" ng-hide="reperto.isExpanded('h4-' + item.id)" ng-click="reperto.toggleExpandedZone('h4-' + item.id)">replier</a>
					        	<a class="pull-right" role="button" ng-show="reperto.isExpanded('h4-' + item.id)" ng-click="reperto.toggleExpandedZone('h4-' + item.id)">déplier</a>
						      	<h4 class="panel-title" href="#{{item.id}}" id="h4-{{item.id}}">
						      		<a ng-click="reperto.selectSection(item)">{{item.titre}}</a>
						      	</h4>
						      	
						    </div>
						    
						    <div id="{{item.id}}" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{ 'collapse': ! $first}">
						      	<div class="panel-body">
						        	<ol>
							        	<li ng-repeat="subItem in item.nodes">
							          		<div>
							            		<a href="" ng-click="reperto.selectChapter(item, subItem)">{{subItem.titre}}</a>
							          		</div>
							        	</li>
							      	</ol>
						      	</div>
							</div>
						</div>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>


			<!--  COLONNE PRINCIPALE  -->
			<div class="col-md-5">
				<section id="thesaurus_metadata" class=""></section>
			</div>
			
			<div class="col-md-9" id="initiatives-area">
				<p style="">
					<ol class="breadcrumb" style="display: inline-block;margin-left: 15px;">
					  <li ng-click="reperto.init()">
					  	
						<span class="glyphicon glyphicon-book"></span>
						<a href="#">{{reperto.display.guide.titre}}</a>
					  </li>
					  <li ng-click="reperto.selectSection(reperto.display.section)" ng-show="reperto.display.breadcrumb.section">
					  	<a href="#">{{reperto.display.breadcrumb.section}}</a>
					  </li>
					  <li ng-click="reperto.selectChapter(reperto.display.section, reperto.display.chapitre)" ng-show="reperto.display.breadcrumb.chapitre">
					  	<span>{{reperto.display.breadcrumb.chapitre}}</span>
					  </li>
					</ol>
					<!-- a class="btn btn-primary"><span class="glyphicon glyphicon-open"></span> ouvrir un autre repertoire</a-->
				</p>
				<repertoire-idees></repertoire-idees>
			</div>
			
		</section>
		
		
		<div class="modal fade" id="introduction-cac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  	<div class="modal-dialog modal-lg" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 id="introduction-titre"></h4>
					</div>
				
		      		<div class="modal-body">
		       			<div id="introduction-contenu"></div>
		    		</div>
		  		</div>
			</div>
		</div>
	
	</div>
</div>


